
    <div class="flex flex-col gap-5 w-full pt-8 px-6">
        <div class="flex w-full h-20 gap-5">
            <div class="flex-1 flex flex-col w-1/4 px-4 py-3 bg-white rounded-lg shadow-md gap-1">
                <p class="font-semibold text-md">Base Salary</p>
                <div class="flex items-end justify-between">
                    <p id="total-program-count" class="text-3xl public-sans-font-bold">₱{{compensationTable[0].base_salary | number }}</p> 
                </div>
            </div>
            <div class="flex-1 flex flex-col w-1/4 px-4 py-3 bg-white rounded-lg shadow-md gap-1">
                <p class="font-semibold text-md ">Total Allowances</p>
                <div class="flex items-end justify-between">
                    <p id="total-program-count" class="text-3xl public-sans-font-bold">₱{{totalAllowances | number}}</p> 
                </div>
            </div>
            <div class="flex-1 flex flex-col w-1/4 px-4 py-3 bg-white rounded-lg shadow-md gap-1">
                <p class="font-semibold text-md ">Total Benefits</p>
                <div class="flex items-end justify-between">
                    <p id="total-program-count" class="text-3xl public-sans-font-bold">₱{{totalBenefits | number}}</p> 
                </div>
            </div>
        </div> 
        <div class="flex gap-5 w-full">
            <div class="flex flex-col w-1/2 rounded-lg shadow-md gap-1 bg-white">
                <div class="flex items-center w-full rounded-t justify-between px-5 py-3">
                    <p>Base Salary</p>
                    <svg class="w-3 h-3 rotate-90 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </div>
                <div class="flex w-full justify-between px-5 py-3">
                    <p>Total Allowances</p>
                    <svg class="w-3 h-3 rotate-90 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </div>
                <div class="flex w-full rounded-b justify-between px-5 py-3">
                    <p>Total Benefits</p>
                    <svg class="w-3 h-3 rotate-90 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </div>
            </div>
            <div class="w-1/2 rounded-lg shadow-md bg-white">
                <apx-chart
                    [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [labels]="chartOptions.labels"
                    [responsive]="chartOptions.responsive"
                    [plotOptions]="chartOptions.plotOptions"
                ></apx-chart>
            </div>
            

        </div>
        <div class="flex justify-between items-center w-full">
            <p class="text-xl font-semibold tracking-wider mt-10">PAYMENT BREAKDOWN</p>
            <button class="text-white bg-gray-500 hover:bg-gray-600 rounded border border-gray-200 text-sm font-medium px-5 py-2.5" (click)="toggleModal()">
                Add Record
            </button>
            <!-- ADDING OF RECORDS MODAL -->
            <div *ngIf="showAddRecordModal"  id="addrecord-modal" (click)="toggleModal()"  class="flex fixed inset-0 z-50 bg-black bg-opacity-50 overflow-y-auto h-full w-full justify-center items-center">
                <div class="relative px-4 w-auto max-w-4xl" (click)="$event.stopPropagation()">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- HEADER -->
                        <div class="flex items-center justify-between p-3 border-b rounded-t dark:border-gray-600">
                            <p class="text-xl font-semibold text-gray-600 dark:text-white items-center" >
                                Add Record
                            </p>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="toggleModal()">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <div class="p-4 space-y-4">
                            <form #compensationForm="ngForm" (ngSubmit)="addRecordAllowances(compensationForm)" class="flex flex-col gap-5 w-full">
                                <div class="flex gap-5 w-full">
                                    <div class="flex flex-col gap-2">
                                        <p class="text-gray-500 italic text-md">Type</p>
                                        <div class="relative">
                                            <select class="border px-4 py-2 rounded appearance-none pr-10" ngModel name="type">
                                                <option value="allowance">Allowance</option>
                                                <option value="benefits">Benefit</option>
                                            </select>
                                            <i class=" fa fa-caret-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <p class="text-gray-500 italic text-md">Effectivity Date</p>
                                        <input type="date" required ngModel name="date">
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <p class="text-gray-500 italic text-md">Amount (Php)</p>
                                        <input type="number" required ngModel name="amount">
                                    </div>
                                </div>
                                <div class="flex flex-col gap-2">
                                    <p class="text-gray-500 italic text-md">Description</p>
                                    <textarea class="w-full p-2 border rounded" rows="3" ngModel name="description"></textarea>
                                </div>
                                <div class="w-full flex justify-end">
                                    <button class="px-3 py-2 bg-green-500 text-white rounded-md">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto">
            <div class="max-h-[29rem] overflow-y-auto custom-scrollbar">
                <table class="w-full text-left" >
                    <thead class="bg-gray-100 z-10 sticky top-0">
                        <tr>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Effective Date</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let item of employeeBenefits" class="cursor-pointer">
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">{{item.type == "benefits" ? "Benefits" : "Allowances"}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">{{item.description}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">{{item.amount}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">{{item.effective_date}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="w-full rounded-lg shadow-md bg-white">
            <apx-chart
                #lineChart
                [series]="lineChartOptions.series"
                [chart]="lineChartOptions.chart"
                [xaxis]="lineChartOptions.xaxis"
                [yaxis]="lineChartOptions.yaxis"
                [dataLabels]="lineChartOptions.dataLabels"
                [stroke]="lineChartOptions.stroke"
                [legend]="lineChartOptions.legend"
                [tooltip]="lineChartOptions.tooltip"
                [grid]="lineChartOptions.grid"
                [markers]="lineChartOptions.markers">
            </apx-chart>
        </div>
        <div class="flex justify-between items-center w-full">
            <p class="text-xl font-semibold tracking-wider mt-10">CONTRIBUTIONS/DEDUCTIONS</p>
            <button class="text-white bg-gray-500 hover:bg-gray-600 rounded border border-gray-200 text-sm font-medium px-5 py-2.5">
                Add Contribution
            </button>
        </div>
        <div class="overflow-x-auto">
            <div class="max-h-[29rem] overflow-y-auto custom-scrollbar">
                <table class="w-full text-left" >
                    <thead class="bg-gray-100 z-10 sticky top-0">
                        <tr>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Taxes</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Health Insurance</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Retirement Contributions</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Pension</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Others</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let item of employeeDeductions" class="cursor-pointer">
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">{{item.date}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.taxes | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.health_insurance | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.retirement_contributions | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.pension | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.others | number:'1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex justify-between items-center w-full">
            <p class="text-xl font-semibold tracking-wider mt-10">PAYSLIPS</p>
            <button class="text-white bg-gray-500 hover:bg-gray-600 rounded border border-gray-200 text-sm font-medium px-5 py-2.5">
                Add Record
            </button>
        </div>
        <div class="overflow-x-auto">
            <div class="max-h-[29rem] overflow-y-auto custom-scrollbar">
                <table class="w-full text-left" >
                    <thead class="bg-gray-100 z-10 sticky top-0">
                        <tr>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Gross Pay</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Overtime Pay</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Total Deductions</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Net Pay</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                            <th class="px-3 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">Notes</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let item of employeePayslips" class="cursor-pointer">
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">{{item.date}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.gross_pay | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{item.overtime_pay | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{employeeTotalDeductions | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">₱{{employeeNetPay | number:'1.2-2'}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">{{item.status}}</td>
                            <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
