<div class="flex flex-col h-screen">


  <!-- Main content -->
  <!-- <div class="flex flex-grow">
    <app-sidebar-navigation></app-sidebar-navigation>
    <div class="flex-grow hidden">
      <!-- Main Content (unchanged) -->
      <!-- <div class="flex-1 p-6">
        <h1 class="text-2xl font-bold mb-4">Welcome to the HRIS Dashboard</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div *ngFor="let card of dashboardCards" class="bg-white p-6 rounded-lg-lg shadow-md">
            <h2 class="text-xl font-semibold mb-2">{{card.title}}</h2>
            <ng-container *ngIf="card.title === 'DTR'; else defaultContent">
              <button (click)="timeIn()" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Time In</button>
              <button (click)="timeOut()" class="bg-red-500 text-white py-2 px-4 rounded-lg ml-2">Time Out</button>
            </ng-container>
            <ng-template #defaultContent>
              <p class="text-gray-700 text-lg">{{card.value}}</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div> --> 

  <div class="flex p-10">
     <app-sidebar-navigation></app-sidebar-navigation>
    <div class="flex flex-col flex-grow gap-4 w-[80%]">
      <div class="animated-gradient-bg shadow-lg w-full h-56 rounded-lg p-5 flex items-center justify-between relative">
        <div class="flex-1">
          <p class="text-white text-3xl">Welcome, <span class="font-bold">Lean Jedfrey</span>!</p>
          <p *ngIf="!hasTimedIn" class="text-lg text-white w-[55%] break-words mt-2">We’re excited to see you here today. Before you dive into your tasks, we’d like to remind you to <span class="font-bold">log your time</span> if you haven’t done so already.</p>
          <p *ngIf="hasTimedIn" class="text-lg text-white w-[50%] break-words mt-2">You’ve successfully clocked in and are all set for a productive workday. We’re excited to have you with us today!</p>
          <button *ngIf="!hasTimedIn" (click)="timeIn()" class="bg-white px-6 py-2 rounded text-blue-500 text-lg font-bold mt-4">Time In</button>
          <button *ngIf="hasTimedIn" (click)="timeOut()" class="bg-white px-6 py-2 rounded text-red-500 text-lg font-bold mt-4">Time Out</button>
        </div>
        <img *ngIf="!hasTimedIn" src="https://i.ibb.co/dm89vhZ/6469146.png" alt="Descriptive Alt Text" class="w-52 h-52 object-cover absolute bottom-0 right-28" />
        <img *ngIf="hasTimedIn" src="https://i.ibb.co/f41vqWh/6488733.png" alt="Descriptive Alt Text" class="w-52 h-52 object-cover absolute bottom-0 right-28" />
      </div>
      
           
  
      <div class="flex w-full justify-between gap-4">
        <div class="flex-1 flex flex-col justify-center shadow-lg bg-white h-32 p-5 rounded-lg relative">
          <div class="flex flex-col justify-center">
            <p class="font-bold text-xl text-gray-500">Total Employees</p>
            <p class="font-bold text-2xl text-black">{{ totalEmployees }}</p>
          </div>
          <img src='https://i.ibb.co/2KnnCQX/Group-38.png' class="opacity-60 h-12 w-12 absolute right-5 top-1/2 transform -translate-y-1/2">
        </div>        
        <div class="flex-1 flex flex-col justify-center shadow-lg bg-white h-32 p-5 rounded-lg relative">
          <div class="flex flex-col justify-center">
            <p class="font-bold text-xl text-gray-500">Total Tickets</p>
            <p class="font-bold text-2xl text-black">3</p>
          </div>
          <img src='https://i.ibb.co/0cYXGy6/Group-39.png' class="opacity-80 h-12 w-12 absolute right-5 top-1/2 transform -translate-y-1/2">
        </div>
        
        <div class="flex-1 shadow-lg bg-white h-32 rounded-lg relative">
          <div class="flex flex-col justify-center p-5 h-full">
            <p class="font-bold text-xl text-gray-500">Total Roles</p>
            <p class="font-bold text-2xl text-black">30</p>
          </div>
          <img src='https://i.ibb.co/v1j0W5m/Group-40.png' class="opacity-70 h-12 w-12 absolute right-5 top-1/2 transform -translate-y-1/2">
        </div>
        
        <div class="flex-1 shadow-lg bg-white h-32 rounded-lg relative">
          <div class="flex flex-col justify-center p-5 h-full">
            <p class="font-bold text-xl text-gray-500">Clocked In</p>
            <p class="font-bold text-2xl text-black">28</p>
          </div>
          <img src='https://i.ibb.co/nDDgvKM/Group-42.png' class="opacity-80 h-12 w-12 absolute right-5 top-1/2 transform -translate-y-1/2">
        </div>
        
      </div>
      <div class="flex w-full justify-between gap-4">
      <div class="bg-white shadow-lg h-56 w-[53%] rounded-lg p-5 flex items-center justify-between relative">
      
      </div>
      <div class="bg-white shadow-lg h-56 w-[53%] rounded-lg p-5 flex items-center justify-between relative">
      
      </div>
      <div class="bg-white shadow-lg h-56 w-[53%] rounded-lg p-5 flex items-center justify-between relative">
      
      </div>
      
      </div>
    </div>
  
    <!-- Right pink container -->
    <div class="shadow-lg bg-white w-[25%] h-[86%] ml-4 rounded-lg p-4 border border-gray-200">
      <!-- Navigation -->
       <div class="bg-blue-50 p-4 rounded">
      <div class="flex items-center justify-between mb-4">
        <button (click)="changeMonth(-1)" class="text-black-500 font-bold hover:text-blue-700 transition duration-150 ease-in-out">
          &lt;
        </button>
        <span class="text-lg font-semibold">{{ currentMonth + 1 }}/{{ currentYear }}</span>
        <button (click)="changeMonth(1)" class="text-black-500 font-bold hover:text-blue-700 transition duration-150 ease-in-out">
          &gt;
        </button>
      </div>
    
      <!-- Days of the week -->
      <div class="grid grid-cols-7 text-center text-sm font-medium mb-2">
        <div class="p-2">Sun</div>
        <div class="p-2">Mon</div>
        <div class="p-2">Tue</div>
        <div class="p-2">Wed</div>
        <div class="p-2">Thu</div>
        <div class="p-2">Fri</div>
        <div class="p-2">Sat</div>
      </div>
    
      <!-- Calendar days -->
      <div class="grid grid-cols-7 gap-1 text-center text-sm">
        <!-- Days of previous month -->
        <div *ngFor="let day of daysInPrevMonth" class="p-2 opacity-50"></div>
    
        <!-- Days of current month -->
        <div *ngFor="let day of daysInMonth"
             [ngClass]="{'bg-blue-200': isToday(day, currentMonth, currentYear)}"
             class="p-2 rounded-lg hover:bg-blue-100 transition duration-150 ease-in-out">
          {{ day }}
        </div>
    
        <!-- Days of next month -->
        <div *ngFor="let day of daysInNextMonth" class="p-2 opacity-50"></div>
      </div>
    </div>
    <p class="text-xl font-bold pt-4">Holidays This Month</p>
    <div class="h-44 overflow-y-auto borde rounded-md custom-scrollbar">
      <div *ngFor="let holiday of holidays" class="flex items-center justify-between">
        <p class="text-lg">{{ holiday.parameter_name }}</p>
        <p class="text-sm text-gray-400 ml-2">{{ holiday.parameter_date | date:'MM/dd/yy' }}</p>
      </div>
      <p *ngIf="holidays.length === 0" class="text-gray-500">No holidays this month</p>
    </div>
    
    </div>
    
    
  </div>
  
  
  
  
  
  
  
  
  