<!-- Flexible container that holds a sidebar navigation component and user-management area -->
<div class="flex">
    <div class="flex-grow"> 
      <!-- Main componenet -->
      <div class="min-h-screen bg-white">
        <main class="p-6">
          <div class="mb-6">
            <p class="mb-2 text-3xl font-bold text-neutral-900">User Management<br></p>
            <p class="mb-2 pb-5 text-slate-500 text-sm">Monitor and Track User details</p>
          </div>

          <!-- Users active tab -->
          <div class="flex flex-col">
          <section id="user-list" class="flex flex-col h-full"> 
          <!--Upper Padding-->
          <div class="rounded-xl bg-white">
            <!-- Row with search input and buttons -->
            <div class="flex flex-col md:flex-row md:justify-between items-center justify-center p-4">
              <div class="relative w-[20%]">
                <input type="text" [(ngModel)]="searchTerm" placeholder="Search Employees..." (input)="searchTable()" class="w-full h-full p-2 pr-8 border rounded-full border-gray-300"/>
                    <i class="fa fa-search absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 pl-5"></i>
              </div>          
              <div class="flex items-center space-x-4">
                <!--Filter Feature-->
                <div class="relative">
                  <select (change)="onSortOptionChange($event)" class="border px-4 py-2 rounded appearance-none pr-10">
                    <option value="none">Default</option>
                    <option value="asc">Sort A-Z</option>
                    <option value="desc">Sort Z-A</option>
                  </select>
                  <i class="fa fa-caret-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                </div>
                    
                  <!-- Delete button only displayed when in editing mode -->
                  <button *ngIf="isEditing" class="bg-red-500 text-white px-4 pr-8 py-2 rounded" (click)="deleteUsers()">Delete</button>
                  <!-- Manage User button -->
                  <button [ngClass]="{ 'bg-green-500 hover:bg-green-600': !isEditing, 'bg-pink-500 hover:bg-pink-600': isEditing }"
                          class="text-white px-4 py-2 rounded transition duration-300 ease-in-out" (click)="toggleEditMode()">
                        {{ isEditing ? 'Stop Managing' : 'Manage User' }}
                  </button>

                  <!-- New Employee button, disabled when isEditing is true -->
                  <app-side-drawer [isOpen]="isDrawerOpen" [employeeData]="selectedEmployee" (close)="closeDrawer()"></app-side-drawer>
                  <button (click)="openDrawer()"
                        [ngClass]="{ 'bg-blue-500': !isEditing, 'bg-gray-500 cursor-not-allowed': isEditing }"
                        [disabled]="isEditing"
                        class="text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300
                        font-medium rounded text-sm px-4 py-2 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button">+ New Employee</button>
                  
                  <!-- Print ID Button Function -->
                  
                  <!-- Pagination Function -->
                  <button class=" text-black p-1 bg-gray-100 rounded-md" (click)="prevPage()" [disabled]="currentPage === 1"><</button>
                  <span class="text-gray-600 text-center">{{ currentPage }} of {{ totalPages }}</span>
                  <button class=" text-black p-1 bg-gray-100 rounded-md" (click)="nextPage()" [disabled]="currentPage === totalPages">></button>
                </div>
            </div>
                <!-- Users active tab -->
              <div *ngIf="filteredUsers.length > 0" class="overflow-x-hidden">
                <table class="table-fixed w-full">
                  <thead>
                    <tr class="text-gray-700 leading-normal sticky z-10 border-b border-gray-200">
                      <th *ngIf="isEditing" class="font-thin py-3 px-6 text-center">Select</th>
                      <th class="z-1 top-0 sticky py-3 px-4 w-2/12 text-left font-medium text-gray-500">PROFILE</th>
                      <th class="z-10 top-0 sticky py-3 px-6 text-left font-medium text-gray-500">NAME</th>
                      <th class="z-10 top-0 sticky py-3 px-6 text-left font-medium text-gray-500">EMAIL</th> 
                      <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">PASSWORD</th>
                      <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">ROLE</th>
                      <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">STATUS</th>
                      <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-center font-medium text-gray-500">ACCESS</th>
                      <th *ngIf="isEditing" class="z-10 top-0 sticky bg-gray-100 y-3 px-6 text-center text-lg">EDIT</th>
                    </tr>
                  </thead>                
                  <tbody class="text-gray-500 text-sm font-light"> 
                    <tr *ngFor="let user of paginatedUsers" class="border-b border-gray-200 hover:bg-gray-50">
                      <td *ngIf="isEditing" class="py-3 px-6 text-center -z-10">
                        <input type="checkbox" [checked]="user.selected" (change)="toggleUserSelection(user)">
                      </td>
                      <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                        <div class="flex items-center"><img [src]="user.profile" alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                      </td>              
                      <td class="py-3 px-6 text-left truncate">{{ user.name }}</td>
                      <td class="py-3 px-6 text-left truncate">{{ user.email }}</td>
                      <td class="py-3 px-1 w-1/12 text-left">
                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                      </td>
                      <td class="py-3 px-2 w-1/12 text-left">{{ user.position }}<br>{{ getContractType(user.position) }}</td>
                      <td class="py-3 px-2 w-1/12 text-left">
                        <span [ngClass]="{'bg-green-200 text-green-700': user.status === 'Active', 'bg-red-200 text-red-700': user.status === 'Inactive'}" class="py-1 px-3 rounded-full text-xs">{{ user.status }}</span>
                      </td>
                      <td class="py-3 px-2 w-1/12 text-center">
                        <button 
                          (click)="!showModal && toggleUserAccess(user)"
                          class="relative inline-flex items-center w-11 h-6 rounded-full transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                          [ngClass]="{
                            'bg-blue-600': user.access && !showModal,
                            'bg-gray-200': !user.access && !showModal,
                            'bg-[#0D47A1]': user.access && showModal,
                            'bg-gray-300': !user.access && showModal,
                            'cursor-not-allowed': showModal
                          }"
                          [attr.disabled]="showModal ? '' : null"
                          aria-label="Toggle user access"
                        >
                          <span 
                            class="inline-block w-5 h-5 transform transition-transform duration-200 ease-in-out bg-white rounded-full"
                            [ngClass]="{'translate-x-6': user.access, 'translate-x-1': !user.access}"
                          ></span>
                        </button>
                      </td>
                      <td *ngIf="isEditing" class="py-3 px-6 text-center">
                        <button (click)="editUser(user)" class="text-blue-500 hover:text-blue-700">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-1.5a2.5 2.5 0 113.536-3.536L15.232 5.232zM4 13.5V21h7.5l11-11.5a2.5 2.5 0 00-3.5-3.5L4 13.5z"/>
                          </svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                         
              </div>      
          </div>
        </section>
          </div>

        </main>
      </div>
    </div>
  </div>
    