<!-- signin.component.html -->
<div class="w-full h-full px-0 rounded-6xl flex flex-col items-center py-16 left-0 absolute top-0">
    <div class="flex flex-col w-full border-none">
<p class="font-martel-bold text-2xl text-blue-500 border-none">Login to your account</p>
            <!-- SIGN UP FORM -->
            <form (ngSubmit)="login()">
                <!-- Email Input -->
                <app-form-inputs
                  label="Email"
                  id="email"
                  type="email"
                  name="email"
                  placeholder="Enter your email"
                  [(ngModel)]="email" 
                ></app-form-inputs>
              
                <!-- Password Input -->
                <app-form-inputs
                  label="Password"
                  id="password"
                  type="password"
                  name="password"
                  placeholder="Enter your password"
                  [(ngModel)]="password" 
                ></app-form-inputs>
                <div class="flex items-center justify-between border-none">
                    <div class="flex items-center gap-1 border-none">
                        <input type="checkbox" id="remember-me" name="remember-me" class="h-4 w-4">
                        <label for="remember-me" class="text-gray-500 hover:text-black text-sm font-montserrat">Remember me</label>
                    </div>
                    <a href="#" class="text-gray-500 hover:text-black  text-sm font-montserrat">Forgot password</a>
                </div>                    
                <button class="flex justify-center items-center w-full bg-blue-500 hover:bg-blue-400 text-white py-3 rounded-md font-montserrat-bold text-sm" (click)="login()">
                    Log in
                </button>
            </form>
            <!-- REDIRECT TO SIGNUP -->
            <p class="text-black text-center text-xs font-montserrat ">You're new in here?
                <button (click)="onToggleSlide()" class="bg-secondary-tw py-3 w-32 rounded-lg text-primary-text-tw text-blue-500 font-montserrat-semibold text-left">
                    Login here
                </button>
            </p> 
            </div>
            </div>
            