<div class="flex">
    <app-sidebar-navigation></app-sidebar-navigation>
    <div class="flex-grow">
        <div class="min-h-screen">
            <div class="p-6">
                <div class="mb-6">
                    <p class="mb-2 text-3xl font-bold text-neutral-900">Merits and Violations<br></p>
                    <p class="mb-2 pb-5 text-slate-500 text-sm">Configure and view merits and violations of employees</p>
                    
                    <div class="z-10 relative">
                        <!--Upper Padding-->
                        <div class="rounded-xl shadow-lg bg-white">
                            <div *ngIf="!selectedProfile">
                                <!-- Row with search input and buttons -->
                                <div class="flex flex-col md:flex-row md:justify-between items-center justify-center p-4">
                                    <div class="relative w-[20%]">
                                        <input type="text" [(ngModel)]="searchTerm" placeholder="Search Employees..." (input)="searchTable()" class="w-full h-full p-2 pr-8 border rounded-full border-gray-300"/>
                                        <i class="fa fa-search absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 pl-5"></i>
                                    </div>
                            
                                <div class="flex items-center space-x-4">
                                    <!-- Filter Feature -->
                                    <div class="relative">
                                        <select (change)="onSortOptionChange($event)" class="border px-4 py-2 rounded appearance-none pr-10">
                                            <option value="none">Default</option>
                                            <option value="asc">Sort A-Z</option>
                                            <option value="desc">Sort Z-A</option>
                                        </select>
                                        <i class="fa fa-caret-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                                    </div>
                            
                            
                                    <!-- Pagination -->
                                    <button class="text-black p-1 bg-gray-100 rounded-md" (click)="prevPage()" [disabled]="currentPage === 1"><</button>
                                    <span class="text-gray-600 text-center">{{ currentPage }} of {{ totalPages }}</span>
                                    <button class="text-black p-1 bg-gray-100 rounded-md" (click)="nextPage()" [disabled]="currentPage === totalPages">></button>
                                </div>
                            </div>
                            </div>
                        
                            <!-- Display the employee list -->
                            <div *ngIf="!selectedProfile">
                            <div *ngIf="filteredProfiles.length > 0" class="overflow-x-hidden overflow-y-auto max-h-[28rem] custom-scrollbar">
                                <table class="table-fixed w-full">
                                <thead>
                                    <tr class="bg-gray-100 text-gray-700 leading-normal sticky z-10">
                                    <th class="z-1 top-0 sticky bg-gray-100 py-3 px-4 w-2/12 text-left font-medium text-gray-500">PROFILE</th>
                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">NAME</th>
                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">EMAIL</th>
                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">MERITS</th>
                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">VIOLATIONS</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-500 text-sm font-light">
                                    <tr *ngFor="let user of paginatedProfiles; let i = index" class="border-b border-gray-200 hover:bg-gray-50 cursor-pointer" (click)="selectProfile(user)">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img [src]="user.photo_url" alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>
                                    <td class="py-3 px-6 text-left truncate">{{ user.first_name }} {{ user.surname }}</td>
                                    <td class="py-3 px-6 text-left truncate">{{ user.email }}</td>
                                    <td class="py-3 px-6 text-left truncate">{{ getMeritsCount(user.user_id) }}</td>
                                    <td class="py-3 px-6 text-left truncate">{{ getViolationsCount(user.user_id) }}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div *ngIf="filteredProfiles.length === 0" class="py-3 px-6 text-center text-gray-500">
                                <p>No employees found.</p>
                            </div>
                        </div>
                        
                            

  
  
                        
                            <div *ngIf="selectedProfile" class="overflow-hidden">
                                <h2 class="text-lg font-semibold text-gray-700 mb-2 px-4 py-4">Merits and Violations for {{ selectedProfile.first_name }} {{ selectedProfile.surname }}</h2>
                            
                                <!-- Show form when adding merit or violation -->
                                <div *ngIf="showForm"  class="bg-white p-4 text-sm rounded mb-4">
                                    <form [formGroup]="meritsViolationsForm" (ngSubmit)="submitForm()">
                                        <div class="mb-4">
                                            <label class="block text-gray-700">Violation</label>
                                            <input type="text" formControlName="violations" class="text-sm mt-1 p-2 border rounded w-full" 
                                            placeholder="Description of Violation"/>
                                        </div>
                                        <div class="mb-4">
                                            <label class="block text-gray-700">Merit</label>
                                            <input type="text" formControlName="merits" class="text-sm mt-1 p-2 border rounded w-full"
                                            placeholder="Description of Merit" />
                                        </div>
                                        <div class="mb-4">
                                            <label class="block text-gray-700">Date of Record (Violation)</label>
                                            <input type="date" formControlName="date_of_record_v" class="text-sm mt-1 p-2 border rounded w-full text-gray-700" />
                                        </div>
                                        <div class="mb-4">
                                            <label class="block text-gray-700">Date of Record (Merit)</label>
                                            <input type="date" formControlName="date_of_record_m" class="text-sm mt-1 p-2 border rounded w-full text-gray-700" />
                                        </div>
                                        <input formControlName="user_id" type="hidden" [value]="selectedProfile?.user_id" />
                                        <div class="flex justify-between">
                                            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Submit</button>
                                            <button type="button" (click)="cancelForm()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            
                                <!-- Hide records when the form is shown -->
                                <ng-container *ngIf="!showForm">
                                    <ng-container *ngIf="getViolationsForSelectedProfile().length > 0; else noViolationRecords">
                                        <h3 class="font-semibold text-gray-600 mb-2 pl-4">Violations</h3>
                                        <table class="table-fixed w-full mb-4">
                                            <thead>
                                                <tr class="bg-gray-100 text-gray-700 leading-normal sticky z-10">
                                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">Violation</th>
                                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">Date of Record (Violation)</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-gray-500 text-sm font-light">
                                                <tr *ngFor="let record of getViolationsForSelectedProfile()" class="border-b border-gray-200">
                                                    <td class="py-3 px-6">{{ record.violations }}</td>
                                                    <td class="py-3 px-6">{{ record.date_of_record_v | date }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                            
                                    <ng-template #noViolationRecords>
                                        <div class="py-3 px-6 text-center text-gray-500">
                                            <p>No violations recorded for {{ selectedProfile.first_name }} {{ selectedProfile.surname }}.</p>
                                        </div>
                                    </ng-template>
                            
                                    <ng-container *ngIf="getMeritsForSelectedProfile().length > 0; else noMeritRecords">
                                        <h3 class="font-semibold text-gray-600 mb-2 pl-4">Merits</h3>
                                        <table class="table-fixed w-full mb-4">
                                            <thead>
                                                <tr class="bg-gray-100 text-gray-700 leading-normal sticky z-10">
                                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">Merit</th>
                                                    <th class="z-10 top-0 sticky bg-gray-100 py-3 px-6 text-left font-medium text-gray-500">Date of Record (Merit)</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-gray-500 text-sm font-light">
                                                <tr *ngFor="let record of getMeritsForSelectedProfile()" class="border-b border-gray-200">
                                                    <td class="py-3 px-6">{{ record.merits }}</td>
                                                    <td class="py-3 px-6">{{ record.date_of_record_m | date }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                            
                                    <ng-template #noMeritRecords>
                                        <div class="py-3 px-6 text-center text-gray-500">
                                            <p>No merits recorded for {{ selectedProfile.first_name }} {{ selectedProfile.surname }}.</p>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            
                                
                            </div>
                            
                    </div>
                </div>
                <div *ngIf="!showForm && selectedProfile" class="mt-4">
                    <button (click)="addMeritOrViolation()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Add Merit or Violation</button>
                    <button (click)="backToEmployeeList()" class="ml-2 bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400">Back</button>
                </div>
        </div>
    </div>
</div>
