<div class="flex">
  <div class="flex flex-col w-full p-6 h-screen">
    <!-- HEADER DIV -->
    <div class="flex flex-col w-full">
      <p class="text-3xl font-bold text-neutral-900">Loan Information</p>
      <p class="pb-5 text-slate-500 text-sm">View and Manage Loan Records</p>
    </div>

    <!-- MAIN TABLE DIV -->
      <div class="bg-white border relative shadow-md sm:rounded-lg my-4 flex flex-col max-h-[35rem]">
        <div class="flex justify-between">
          <!-- Search Bar -->
          <div class="max-w-md m-4 flex justify-start">
            <div class="relative">
              <!-- Search Icon -->
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
              </div>
              <!-- Search Input Bar -->
              <input type="text" [(ngModel)]="searchTerm" (input)="searchTable()" id="default-search" class="block p-2 ps-10
              text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500
              focus:border-blue-500" placeholder="Search Loan Detail..." required />
            </div>
          </div>
          <!-- TABLE FUNCTION BUTTONS DIV -->
          <div class="flex justify-end p-4 gap-4">
            <!-- BATCH DELETE Loan Button -->
            <button *ngIf="selectedCount > 0 && showManageColumn" (click)="toggleModal('batch-delete-modal')"
              class="bg-red-600 hover:bg-red-800 text-white font-medium rounded-full px-4 inline-flex gap-2 justify-center items-center">
              <span class="material-icons align-middle scale-90">{{ 'delete_sweep' }}</span>Delete ({{ selectedCount }} item{{ selectedCount > 1 ? 's' : '' }})
            </button>
            <!-- SELECT/UNSELECT ALL button -->
            <button *ngIf="showManageColumn" (click)="toggleSelectAll()" class="bg-gray-300 text-gray-800 font-medium rounded-full px-4">
              <span class="material-icons align-middle scale-75">{{ 'checklist_rtl' }}</span>
              {{ selectedCount === filteredLoanRecords.length ? 'Unselect All' : 'Select All' }}
            </button>
            <!-- MANAGE Loan Record Toggle Button -->
            <button (click)="toggleManageColumn()" class="inline-flex justify-center items-center gap-1
             text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300
             font-medium rounded-full text-sm px-4" type="button">
              <span class="material-icons align-middle scale-75">{{ manageButtonIcon }}</span>{{ manageButtonText }}
            </button>
            <!-- ADD Loan Record Toggle Button -->
            <button (click)="toggleModal('add-loan-modal')" class="inline-flex justify-center items-center gap-1
            text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
            font-medium rounded-full text-sm px-4" type="button">
              <span class="material-icons align-middle ">{{ 'add' }}</span>Add New Loan
            </button>
          </div>
        </div>
        <div class="w-full max-h-full overflow-auto">
          <table class="w-full text-sm text-center text-gray-500 rounded-lg border-spacing-0 table">
            <thead class="w-full text-xs uppercase bg-gray-100">
              <tr>
                <th (click)="sortTable('name')" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle">
                  <span class="align-middle">Loan Name</span>
                  <span class="material-icons inline-block align-middle scale-75">{{ 'unfold_more' }} </span>
                </th>
                <th (click)="sortTable('type')" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle">
                  <span class="align-middle">Loan Type</span>
                  <span class="material-icons inline-block align-middle scale-75">{{ 'unfold_more' }} </span>
                </th>
                <th (click)="sortTable('outstandingBalance')" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle">
                  <span class="align-middle">Outstanding Balance</span>
                  <span class="material-icons inline-block align-middle scale-75">{{ 'unfold_more' }} </span>
                </th>
                <th (click)="sortTable('totalPaid')" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle">
                  <span class="align-middle">Total Paid</span>
                  <span class="material-icons inline-block align-middle scale-75">{{ 'unfold_more' }} </span>
                </th>
                <th (click)="sortTable('lastPayment')" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle">
                  <span class="align-middle">Last Payment</span>
                  <span class="material-icons inline-block align-middle scale-75">{{ 'unfold_more' }} </span>
                </th>
                <th (click)="sortTable('status')" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle">
                  <span class="align-middle">Status</span>
                  <span class="material-icons inline-block align-middle scale-75">{{ 'unfold_more' }} </span>
                </th>
                <th *ngIf="showManageColumn" scope="col" class="px-6 py-2 hover:bg-gray-200 cursor-pointer align-middle"></th>
          </tr>
            </thead>
              <tbody>
                <tr *ngFor="let loan of filteredLoanRecords; trackBy: trackByFn" class="bg-white border-b hover:bg-gray-50">
                  <th scope="row" class="px-6 py-0 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ loan.name }}
                  </th>
                  <td>{{ loan.type }}</td>
                  <td>{{ loan.outstandingBalance | currency: 'PHP' }}</td>
                  <td>{{ loan.totalPaid | currency: 'PHP' }}</td>
                  <td>{{ loan.lastPayment | date}}</td>
                  <td class="flex justify-center items-center py-2">
                    <span [ngClass]="{
                      'bg-yellow-500': loan.status === 'Pending',
                      'bg-green-500': loan.status === 'Approved',
                      'bg-blue-500': loan.status === 'Active',
                      'bg-red-800': loan.status === 'Past Due',
                      'bg-red-500': loan.status === 'Late',
                      'bg-indigo-500': loan.status === 'Deferred',
                      'bg-pink-500': loan.status === 'In Collections',
                      'bg-gray-400': loan.status === 'Closed',
                      'bg-red-700': loan.status === 'Defaulted',
                      'bg-blue-600': loan.status === 'Restructured',
                      'bg-black': loan.status === 'Cancelled'
                    }" class="flex justify-center items-center min-w-20 px-1 py-1 rounded-full text-white truncate text-xs">
                      {{ loan.status }}
                    </span>
                  </td>
                  <td *ngIf="showManageColumn" class="px-6 py-0">
                    <div class="flex justify-between items-center">
                      <!-- EDIT Record Toggle Button -->
                      <button (click)="toggleModal('edit-loan-modal', loan)" class="material-icons font-medium text-blue-600"
                      title="Edit Loan Details">{{ 'edit' }}</button>
<!-- EDIT LOAN Modal Overlay and Container -->
<div id="edit-loan-modal" class="fixed hidden inset-0 items-center justify-center bg-black bg-opacity-50 z-50">
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
    <!-- Modal Header -->
    <div class="flex justify-between items-center mb-4 h-full">
      <span class="text-lg font-semibold text-gray-900">Edit Loan Details</span>
      <button (click)="toggleModal('edit-loan-modal')" class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg w-8 h-8 flex items-center justify-center">
        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal Form -->
    <form *ngIf="selectedLoan" (ngSubmit)="editLoan()">
      <div class="grid grid-cols-2 gap-y-4">
        <label for="name" class="text-sm flex items-center font-medium text-gray-700">Loan Name</label>
        <input [(ngModel)]="selectedLoan.name" name="name" id="loan-name-input" type="text" class="input-field rounded-lg border" required>

        <label for="type" class="text-sm flex items-center font-medium text-gray-700">Loan Type</label>
        <input [(ngModel)]="selectedLoan.type" name="type" id="loan-type-input" type="text" class="input-field rounded-lg border" required>

        <label for="outstandingBalance" class="text-sm flex items-center font-medium text-gray-700">Outstanding Balance</label>
        <input [(ngModel)]="selectedLoan.outstandingBalance" name="outstandingBalance" id="loan-outstandingBalance-input" type="number" class="input-field rounded-lg border" required>

        <label for="totalPaid" class="text-sm flex items-center font-medium text-gray-700">Total Paid</label>
        <input [(ngModel)]="selectedLoan.totalPaid" name="totalPaid" id="loan-totalPaid-input" type="number" class="input-field rounded-lg border" required>

        <label for="lastPayment" class="text-sm flex items-center font-medium text-gray-700">Last Payment</label>
        <input [(ngModel)]="selectedLoan.lastPayment" name="lastPayment" id="loan-lastPayment-input" type="date" class="input-field rounded-lg border" required>

        <label for="status" class="text-sm flex items-center font-medium text-gray-700">Status</label>
        <select [(ngModel)]="selectedLoan.status" name="status" id="loan-status-input" class="input-field rounded-lg border">
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
          <option value="Active">Active</option>
          <option value="Past Due">Past Due</option>
          <option value="Late">Late</option>
          <option value="Deferred">Deferred</option>
          <option value="In Collections">In Collections</option>
          <option value="Closed">Closed</option>
          <option value="Defaulted">Defaulted</option>
          <option value="Restructured">Restructured</option>
          <option value="Cancelled">Cancelled</option>
        </select>
        <div class="col-span-2 flex justify-center">
          <button type="submit" class="col-span-2 mt-2 w-auto bg-blue-600 hover:bg-blue-800 text-white font-medium rounded-lg p-2 px-4">
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

                      <!-- DELETE Record Modal Toggle Button -->
                      <button (click)="toggleModal('delete-loan-modal', loan)" class="material-icons font-medium text-red-600"
                      title="Delete Loan">{{ 'delete' }}</button>
                      <input type="checkbox" [(ngModel)]="loan.selected" (change)="updateSelectedCount()" class="w-4 h-4
                      text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2">
<!-- DELETE LOAN Modal Overlay and Container -->
<div id="delete-loan-modal" class="fixed hidden inset-0 items-center justify-center bg-black bg-opacity-50 z-50">
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
    <!-- Modal Header -->
    <div class="flex justify-between items-center mb-4 h-full">
      <span class="text-lg font-semibold text-gray-900">Delete Loan</span>
      <button (click)="toggleModal('delete-loan-modal')" class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg w-8 h-8 flex items-center justify-center">
        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <div class="align-middle text-center">
      <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
      <h3 class="mb-5 text-lg font-normal text-gray-500">Are you sure? This action cannot be undone.</h3>

      <!-- Action Buttons -->
      <button (click)="deleteLoan()" class="bg-red-600 hover:bg-red-800 text-white font-medium rounded-lg px-5 py-2.5 text-sm focus:ring-4 focus:outline-none focus:ring-green-300">
        Yes
      </button>
      <button (click)="toggleModal('delete-loan-modal')" class="px-5 py-2.5 ms-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:outline-none focus:ring-gray-100">
        No
      </button>
    </div>
  </div>
</div>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- ADD LOAN Modal Overlay and Container -->
<div id="add-loan-modal" class="fixed hidden inset-0 items-center justify-center bg-black bg-opacity-50 z-50">
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
    <!-- Modal Header -->
    <div class="flex justify-between items-center mb-4 h-full">
      <span class="text-lg font-semibold text-gray-900">Add Loan</span>
      <button (click)="toggleModal('add-loan-modal')" class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg w-8 h-8 flex items-center justify-center">
        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal Form -->
    <form (submit)="addLoan(); $event.preventDefault()">
      <div class="grid grid-cols-2 gap-y-4">
        <label for="name" class="text-sm flex items-center font-medium text-gray-700">Loan Name</label>
        <input #loanNameInput id="loan-name-input" type="text" class="input-field rounded-lg border" placeholder="e.g., Personal Loan" required>
    
        <label for="type" class="text-sm flex items-center font-medium text-gray-700">Loan Type</label>
        <input #loanTypeInput id="loan-type-input" type="text" class="input-field rounded-lg border" placeholder="e.g., School" required>
    
        <label for="outstandingBalance" class="text-sm flex items-center font-medium text-gray-700">Outstanding Balance</label>
        <input #loanOutstandingBalanceInput id="loan-outstandingBalance-input" type="number" class="input-field rounded-lg border" placeholder="e.g., 5000" required>
    
        <label for="totalPaid" class="text-sm flex items-center font-medium text-gray-700">Total Paid</label>
        <input #loanTotalPaidInput id="loan-totalPaid-input" type="number" class="input-field rounded-lg border" placeholder="e.g., 2000" required>
    
        <label for="lastPayment" class="text-sm flex items-center font-medium text-gray-700">Last Payment</label>
        <input #loanLastPaymentInput id="loan-lastPayment-input" type="date" class="input-field rounded-lg border" required>
    
        <label for="status" class="text-sm flex items-center font-medium text-gray-700">Status</label>
        <select #loanStatusInput id="loan-status-input" class="input-field rounded-lg border">
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
          <option value="Active">Active</option>
          <option value="Past Due">Past Due</option>
          <option value="Late">Late</option>
          <option value="Deferred">Deferred</option>
          <option value="In Collections">In Collections</option>
          <option value="Closed">Closed</option>
          <option value="Defaulted">Defaulted</option>
          <option value="Restructured">Restructured</option>
          <option value="Cancelled">Cancelled</option>
        </select>
        <div class="col-span-2 flex justify-center">
          <button type="submit" class="col-span-2 mt-2 w-auto bg-blue-600 hover:bg-blue-800 text-white font-medium rounded-lg p-2 px-4">
            Add Loan
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- BATCH DELETE LOAN Modal Overlay and Container -->
<div id="batch-delete-modal" class="fixed hidden inset-0 items-center justify-center bg-black bg-opacity-50 z-50">
  <!-- Modal Content -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
    <!-- Modal Header -->
    <div class="flex justify-between items-center mb-4 h-full">
      <span class="text-lg font-semibold text-gray-900">Delete Loans</span>
      <button (click)="toggleModal('batch-delete-modal')" class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg w-8 h-8 flex items-center justify-center">
        <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </button>
    </div>
    <div class="align-middle text-center">
      <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
      <h3 class="mb-5 text-lg font-normal text-gray-500">
        Are you sure you want to delete {{ selectedCount > 1 ? 'these ' + selectedCount + ' items' : 'this item'}}?
        This action cannot be undone.
      </h3>

      <!-- Action Buttons -->
      <button (click)="deleteSelectedLoans()" class="bg-red-600 hover:bg-red-800 text-white font-medium rounded-lg px-5 py-2.5 text-sm focus:ring-4 focus:outline-none focus:ring-green-300">
        Yes
      </button>
      <button (click)="toggleModal('batch-delete-modal')" class="px-5 py-2.5 ms-3 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:outline-none focus:ring-gray-100">
        No
      </button>
    </div>
  </div>
</div>

