<main class="flex flex-col h-full w-full gap-4">
  <!-- TOP SECTION -->
  <section class="bg-[rgba(83,_79,_235,_1)] w-full rounded-xl px-4 py-6 text-white">
    <span class="block font-semibold text-2xl">Role Management</span>
    <span class="block font-extralight">HRIS > User Management > Role Management </span>
  </section>
  <!-- UTILITY SECTION -->
  <section class="flex gap-4 w-full rounded-lg">
    <!-- SEARCH BAR -->
    <div class="relative w-[20%]">
      <input type="text" [(ngModel)]="searchRoleTerm" placeholder="Search Roles..." class="w-full h-full py-2 px-4 border rounded-xl border-gray-300" />
      <span class="material-icons absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400">search</span>
    </div>
    <!-- FILTER BUTTON -->
    <button class="flex justify-between items-center gap-2 bg-white border py-2 px-4 rounded-xl hover:bg-gray-100">
      Filter
      <span class="material-icons">filter_list</span>
    </button>
    <!-- DIVIDER -->
    <div class="flex-1"></div>
    <!-- SORTING DROPDOWN -->
    <div class="relative w-max">
      <button id="dropdown-button" class="inline-flex bg-white hover:bg-gray-100 rounded-xl border px-4 py-2 whitespace-nowrap items-center justify-between gap-4 w-36"
      (click)="toggleDropdown()">
        <span class="ms-2">{{ currentSorting() || 'Sort' }} </span>
        <span class="material-icons transition-all ease-linear" [ngClass]="{ 'rotate-180' : isDropdownOpen }">arrow_drop_down</span>
      </button>
      <div id="dropdown-menu" class="flex flex-col gap-1 absolute right-0 mt-2 w-full min-h-0 bg-white border rounded-xl shadow-lg transition-all ease-in-out p-1 overflow-clip"
        [ngClass]="isDropdownOpen ? 'h-[calc-size(auto,_size)]' : 'h-0 invisible'">
        <button value="none" [disabled]="!isDropdownOpen" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full rounded-lg whitespace-nowrap" (click)="onSortChange($event); toggleDropdown()">Default</button>
        <button value="asc" [disabled]="!isDropdownOpen" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full rounded-lg whitespace-nowrap" (click)="onSortChange($event); toggleDropdown()">Ascending (A-Z)</button>
        <button value="desc" [disabled]="!isDropdownOpen" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full rounded-lg whitespace-nowrap" (click)="onSortChange($event); toggleDropdown()">Descending (Z-A)</button>
      </div>
    </div>
    <!-- MANAGE BUTTON -->
    <button class="flex justify-between items-center gap-2 text-white rounded-xl px-4 py-2 whitespace-nowrap text-center transition duration-300"
      [ngClass]="isManageMode ? 'bg-green-500 hover:bg-green-600' : 'bg-blue-500 hover:bg-blue-600'" (click)="toggleManageMode()">
      {{ isManageMode ? 'Save Changes' : 'Manage Roles' }}
      <span class="material-icons">{{ isManageMode ? 'save' : 'manage_accounts' }}</span>
    </button>
  </section>
  <!-- ROLE MANAGEMENT SECTION -->
  <section class="flex flex-1 gap-6 w-full text-white max-h-full h-full min-h-0">
    <!-- ADD/MANAGE ROLES AREA -->
    <div class="basis-2/5 h-full max-h-full border rounded-xl bg-white p-10 py-6 flex flex-col gap-4">
      <div class="flex justify-between items-center">
        <p class="text-2xl font-semibold text-black align-middle">Roles</p>
        <button id="add-role-button" class="flex justify-between items-center gap-2 bg-blue-500 text-white px-3 py-2 rounded-xl hover:bg-blue-600"
                (click)="openRolePopup()" *ngIf="!isManageMode">
          <span class="ms-2">Add New Role</span>
          <span class="material-icons">add</span>
        </button>
      </div>
      <div class="flex flex-col gap-1 w-full max-h-full mt-0 overflow-y-auto">
        <ng-container *ngIf="searchroletab.length > 0; else noMatch">
          <div class="group flex flex-1 gap-4 items-center pr-4 hover:bg-gray-100 min-h-12 text-gray-600 text-sm font-normal rounded-md cursor-pointer overflow-clip"
          *ngFor="let role of searchroletab" [ngClass]="{'bg-gray-100': selectedRole.role_id === role.role_id}" (click)="onRoleClick(role); selectRoleForEditing(role)">
          <div class="bg-transparent group-hover:bg-blue-600 min-w-[4px] h-full"></div>
            <div class="flex-1 overflow-clip">
              <ng-container *ngIf="editingRoleId === role.role_id; else displayRoleName">
              <input [(ngModel)]="role.role_name" class="border rounded outline-none p-1" />
              </ng-container>
              <ng-template #displayRoleName>
                <span class="inline-flex h-full w-full ps-4 py-2">
                  {{ role.role_name }}
                </span>
              </ng-template>
            </div>
            <div *ngIf="isManageMode" class="text-center">
              <ng-container *ngIf="editingRoleId === role.role_id; else editIcon">
              <button (click)="updateRoleName(role)" class="text-green-500 hover:text-green-700" style="padding: 0;">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
              </ng-container>
              <ng-template #editIcon>
              <button (click)="startEdit(role)" class="text-blue-500 hover:text-blue-700" style="padding: 0;">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              </ng-template>
            </div>
            <div *ngIf="isManageMode" class="text-center">
              <ng-container *ngIf="editingRoleId === role.role_id; else deleteIcon">
              <button (click)="cancelEdit()" class="text-gray-500 hover:text-gray-700" style="padding: 0;">
                <i class="fa fa-ban" aria-hidden="true"></i>
              </button>
              </ng-container>
              <ng-template #deleteIcon>
              <button (click)="deleteRole(role)" class="text-red-500 hover:text-red-700 pr-1" style="padding: 0;">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              </ng-template>
            </div>
          </div>
        </ng-container>
        <ng-template #noMatch>
          <div class="h-9 text-gray-600 text-sm font-light text-center p-4">No matching roles found</div>
        </ng-template>
      </div>
    </div>

    <!-- ASSIGNED USERS AREA -->
    <div *ngIf="assignedRole" class="flex flex-col gap-4 flex-1 border h-full rounded-xl bg-white px-10 py-6">
      <div class="flex justify-between items-center">
        <p class=" text-2xl font-semibold text-black">{{ assignedRole.role_name }}</p>
        <!-- ASSIGN BUTTON -->
        <button class="flex justify-between items-center gap-2 bg-blue-500 text-white px-4 py-2 rounded-2xl hover:bg-blue-600" (click)="openAssignPopup()" *ngIf="!isManageMode">
          <span class="ms-0">Assign</span>
          <span class="material-icons text-[1rem]">assignment_add</span>
        </button>
      </div>
      <div class="h-full min-h-0 overflow-y-auto overflow-x-hidden custom-scrollbar border">

      <table class="table-fixed w-full h-full min-h-full rounded-xl text-black border-none border-separate border-spacing-x-0 border-spacing-y-2 px-2">
        <thead class="rounded-xl table-header-group w-full">
          <tr class="bg-[rgba(245,_245,_245,_1)] rounded-xl h-12 border-spacing-2">
            <th class="text-center rounded-l-xl">Profile</th>
            <th>Name</th>
            <th>Status</th>
            <th>Access</th>
            <th class="rounded-r-xl"></th>
          </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="assignedUsers.length > 0; else noRoleMatch">
          <tr class="h-min text-gray-600 text-sm font-light w-full" *ngFor="let user of assignedUsers">
            <td></td>
            <td>{{ user.first_name }} {{ user.mid_name }} {{ user.surname }}</td>
            <td>
              {{ user.status }}
            </td>
            <td>
              <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer">
                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
              </label>
            </td>
            <td>
              <button class="text-red-500 hover:text-red-700 pr-1" *ngIf="isManageMode" (click)="openDeleteAssigneePopup(user.user_id, assignedRole.role_id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #noRoleMatch>
          <tr class="h-9 text-gray-600 text-sm font-light">
          <td colspan="3" class="text-center p-4">No assigned employees</td>
          </tr>
        </ng-template>
        </tbody>
      </table>
      </div>
    </div>
  </section>
</main>

<!-- ADD ROLE POP-UP -->
<div *ngIf="showRolePopup" class="fixed inset-0 flex justify-end bg-gray-900 bg-opacity-50 z-[9999] transition-opacity">
  <div id="add-role-modal" class="absolute right-0 top-0 flex flex-col gap-y-4 bg-white p-6 h-full shadow-lg w-[30%]">
    <div class="flex justify-between">
      <span class="text-2xl font-semibold mb-0">Add Role</span>
      <button>
        <span class="material-icons">close</span>
      </button>
    </div>
    <input type="text" id="role" [(ngModel)]="newRole" placeholder="Enter role name" class="border rounded-xl p-2 px-4 w-full bg-gray-100"/>

    <div class="overflow-y-auto overflow-x-hidden custom-scrollbar" style="height: calc(80% - 2rem);">
      <div class="grid grid-cols-[60%_repeat(3,_1fr)] gap-y-2">
        <div class="col-span-1 text-center"></div>
        <div class="col-span-1 text-center font-medium">None</div>
        <div class="col-span-1 text-center font-medium">View</div>
        <div class="col-span-1 text-center font-medium">Edit</div>

        <div class="col-span-4 font-black">User Management</div>
        <div class="col-span-1 ms-1">Users</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupUsers" [(ngModel)]="popupUsersRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupUsers" [(ngModel)]="popupUsersRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupUsers" [(ngModel)]="popupUsersRights" value="edit">
        </div>

        <div class="col-span-1 ms-1">Roles</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popRoles" [(ngModel)]="popupRolesRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popRoles" [(ngModel)]="popupRolesRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popRoles" [(ngModel)]="popupRolesRights" value="edit">
        </div>

        <div class="col-span-1 ms-1">Support Tickets</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupSupportTickets" [(ngModel)]="popupSupportRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupSupportTickets" [(ngModel)]="popupSupportRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupSupportTickets" [(ngModel)]="popupSupportRights" value="edit">
        </div>

        <div class="col-span-4 font-black">System Management</div>

        <div class="col-span-1 ms-1">Parameters</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupParameters" [(ngModel)]="popupParametersRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupParameters" [(ngModel)]="popupParametersRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupParameters" [(ngModel)]="popupParametersRights" value="edit">
        </div>

        <div class="col-span-4 font-black">Daily Time Record</div>

        <div class="col-span-1 ms-1">Daily</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupDaily" [(ngModel)]="popupDailyRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupDaily" [(ngModel)]="popupDailyRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupDaily" [(ngModel)]="popupDailyRights" value="edit">
        </div>

        <div class="col-span-1 ms-1">Monthly</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupMonthly" [(ngModel)]="popupMonthlyRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupMonthly" [(ngModel)]="popupMonthlyRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupMonthly" [(ngModel)]="popupMonthlyRights" value="edit">
        </div>

        <div class="col-span-1 ms-1">Weekly</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupWeekly" [(ngModel)]="popupWeeklyRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupWeekly" [(ngModel)]="popupWeeklyRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupWeekly" [(ngModel)]="popupWeeklyRights" value="edit">
        </div>

        <div class="col-span-4 font-black">Audit Trail</div>

        <div class="col-span-1 ms-1">Entries</div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupEntries" [(ngModel)]="popupEntriesRights" value="none">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupEntries" [(ngModel)]="popupEntriesRights" value="view">
        </div>
        <div class="col-span-1 text-center">
          <input type="radio" name="popupEntries" [(ngModel)]="popupEntriesRights" value="edit">
        </div>
      </div>
    </div>

    <div class="flex justify-center gap-2 mt-0">
      <button (click)="addRole()" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-xl w-24">Add</button>
      <button (click)="cancelRolePopup()" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-xl w-24">Cancel</button>
    </div>
  </div>
</div>

<!-- ASSIGN POPUP -->
<div *ngIf="showAssignPopup" class="fixed inset-0 flex justify-end bg-gray-900 bg-opacity-50 z-[9999]">
  <div class="w-[30%] h-full shadow-xl bg-white flex flex-col">
    <div class="flex flex-col h-full p-6">
      <div class="flex justify-start flex-col mb-3">
        <p class="text-2xl font-black">
          Assign for <span class="text-blue-600">{{ assignedRole.role_name }}</span>
        </p>
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search Employees..." class="w-full p-2 border rounded">
      </div>
      <p *ngIf="selectedUserIds.size > 0" class="text-gray-400 text-sm">
        <button type="button" class="focus:outline-none text-red-700" (click)="deselectAllCheckboxes()">Deselect All</button>
        {{selectedUserIds.size}} assigned
      </p>
      <div class="flex-grow overflow-y-auto overflow-x-hidden custom-scrollbar min-h-[150px]">
        <table class="table-auto w-full">
          <tbody>
            <ng-container *ngIf="searchEmpRole.length > 0; else noMatch">
              <tr class="h-9 text-gray-600 text-sm font-light" *ngFor="let emp of searchEmpRole">
                <td>
                  <input type="checkbox" (change)="onCheckboxChange(emp.user_id, $event)">
                </td>
                <td class="w-full">{{ emp.firstname }} {{ emp.midname }} {{ emp.surname }}</td>
              </tr>
            </ng-container>
            <ng-template #noMatch>
              <tr class="h-9 text-gray-600 text-sm font-light">
                <td colspan="2" class="text-center p-4">No matching employees found</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="flex gap-2 justify-start mt-3">
        <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600" (click)="assignRole()">Assign</button>
        <button class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600" (click)="closeAssignPopup()">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="showDeleteAssigneePopup" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="w-[20%] shadow-xl rounded bg-white flex flex-col">
    <div class="flex flex-col h-full p-4 md:p-6 justify-between">
      <div class="flex flex-col justify-center items-center mb-2">
        <p class="text-xl md:text-2xl font-black text-center">Delete Assignee</p>
        <p class="text-gray-600 text-center">This action cannot be undone. By deleting the assignee, all associated information will be permanently lost.</p>
      </div>
      <div class="flex gap-2 justify-center w-full"></div>
        <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 flex-grow" (click)="confirmDeleteAssignee()">Delete</button>
        <button class="border border-gray-500 text-gray-500 px-4 py-2 rounded hover:bg-gray-100 flex-grow" (click)="closeDeleteAssigneePopup()">Cancel</button>
    </div>
  </div>
</div>
