.material-icons {
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

#dropdown-menu > * {
  grid-row: span 1;
}
