<header class="flex justify-between w-full border-b px-8 py-4 gap-8 bg-white">
  <!-- BACKEND: MUST DISPLAY NAME OF CURRENT USER -->
  <span class="flex flex-1 text-lg items-center">Welcome back,&nbsp;<strong>Ysa Bianca!</strong></span>
  <div class="flex gap-2 w-fit justify-between items-center">
    <button class="flex items-center justify-center rounded-full hover:bg-gray-300 aspect-square h-8 w-8">
      <span class="material-icons text-lg aspect-square inline-block">settings</span>
    </button>
    <!-- BACKEND: MAIL AND NOTIFS OF USER -->
    <button class="flex items-center justify-center rounded-full hover:bg-gray-300 aspect-square h-8 w-8">
      <span class="material-icons text-lg aspect-square inline-block">mail</span>
    </button>
    <button class="flex items-center justify-center rounded-full hover:bg-gray-300 aspect-square h-8 w-8">
      <span class="material-icons text-lg aspect-square inline-block">notifications</span>
    </button>
  </div>
  <div>
    <button class="flex items-center justify-between gap-1 hover:bg-gray-300 rounded-full p-[0.1rem] text-gray-600">
      <!-- BACKEND: MUST DISPLAY PROFILE PIC OF CURRENT USER -->
      <span class="material-icons text-3xl">account_circle</span>
      <span class="material-icons text-base">keyboard_arrow_down</span>
    </button>
  </div>
</header>
