<div class="flex flex-row sm:flex-wrap md:flex-wrap lg:flex-nowrap h-screen w-screen relative sm:overflow-x-hidden">
  <!-- Left Main Column -->
  <aside class="lg:basis-1/4 md:w-screen sm:w-screen h-auto flex flex-col items-center">
    <!-- Heading Div -->
    <div class="flex flex-col w-full basis-1/5 p-6 justify-center">
      <p class="text-3xl font-bold text-neutral-900">Personal Data Sheet</p>
      <p class="pb-5 text-slate-500 text-sm">View and Modify User Details</p>
    </div>
    <!-- Div For Section Buttons -->
    <div class="flex flex-col justify-center gap-3 items-center mt-2 mb-4 p-2 w-full basis-4/5">
      <!-- General Info Button -->
      <button type="button" 
      [routerLink]="['/hr/personnel-201-file/general-info/personal-data-sheet/view/general-information']" 
      routerLinkActive="bg-blue-800"
      class="min-w-[70%] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
      font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 inline-flex gap-2 justify-center items-center">
<span class="material-icons">account_circle</span>
General Information
</button>
      <!-- Employment Records Button -->
      <button type="button" class="min-w-[70%] text-white bg-blue-700 hover:bg-blue-800
      focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Employment Records</button>
      <!-- Compensation Records Button -->
      <button type="button" 
      [routerLink]="['/hr/personnel-201-file/general-info/personal-data-sheet/view/compensation-records']" 
      routerLinkActive="bg-blue-800"
      class="min-w-[70%] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
      font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 inline-flex justify-center items-center gap-2">
<span class="material-icons">pie_chart</span>
Compensation Records
</button>
    </div>
  </aside>
  <!-- Right Main Column -->
  <section class="lg:basis-3/4 bg-white rounded-xl shadow-lg m-4 p-6 pt-0 border relative max-h-full overflow-hidden flex flex-col">
    <!-- Heading Div -->
    <div class="flex flex-row items-center py-4">
      <div class="flex w-full justify-center items-center basis-2/5 border-r">
        <div class="flex flex-row justify-end items-center basis-1/3 pr-3">
          <img src="assets/user_icon.svg" class="materials-icon h-20 w-auto text-slate-800" alt="Person Circle Icon">
        </div>
        <div class="flex flex-col justify-center items-start basis-2/3 pl-3">
          <span class="m-0 p-0 text-2xl font-thin tracking-widest">Skibidi</span>
          <span class="m-0 p-0 text-sm text-gray-600 tracking-widest">No Diddy</span>
        </div>
      </div>
      <div class="flex items-center justify-between basis-3/5 ml-6 gap-8">
        <span class="text-2xl font-extralight tracking-widest">{{ setTitle(currentUrl) }}</span>
        <button type="button" (click)="navigateTo(editRootUrl)" class="text-white bg-green-500 hover:bg-green-800 flex justify-evenly gap-1 items-center
        focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2" *ngIf="currentUrl === generalInfoUrl">
        <span class="material-icons scale-[.65] me-0 m-0">{{'edit'}}</span>Edit</button>
      </div>
    </div>
    <hr>
    <div class="mt-4 w-full h-full max-h-full flex flex-col overflow-x-hidden overflow-y-auto snap-start">
      <!-- Form Pages Here -->
      <ng-container>
        <router-outlet></router-outlet>
      </ng-container>
    </div>
  </section>
</div>
