<div class="flex">
    <app-sidebar-navigation></app-sidebar-navigation>
    <div class="flex flex-col border h-screen border-black w-full">
        <!-- block 1 -->
        <div class="flex h-1/5">
            <!-- profile -->
            <div class="flex w-1/4 border border-blue-500 gap-2">
                <div class="flex w-1/3 items-center justify-center">
                    <div>IMAGE</div>
                </div>
                <div class="flex flex-col w-2/3 items-center justify-center">
                    <div class="text-4xl">NAME</div>
                    <div>POSITION</div>
                </div>
            </div>
            <!-- pds -->
            <div class="flex flex-col w-3/4items-center justify-center">
                <div class="text-6xl">PERSONAL DATA SHEET</div>
            </div>
        </div>
        <!-- block 2 -->
        <div class="flex h-4/5">
            <!-- navigation bar-->
            <div class="flex flex-col w-1/4 border border-green-500">
                <div class="w-full h-full border border-yellow-500 p-4">
                    <ul>
                        <li *ngFor="let item of navBarItems">
                            <button class="nav-item text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white w-full" [routerLink]="item.route">{{ item.name }}</button>
                        </li>
                    </ul>
                    <!-- <div class="flex flex-col gap-3 border border-pink-800 h-full">
                        <div id="personalInfo" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">I. PERSONAL INFORMATION</div>
                        <div id="familyBackground" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">II. FAMILY BACKGROUND</div>
                        <div id="education" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">III. EDUCATION BACKGROUND</div>
                        <div id="civilSecurity" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">IV. CIVIL SECURITY ELIGIBILITY</div>
                        <div id="workExperience" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">V. WORK EXPERIENCE</div>
                        <div id="voluntaryWork" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">VI. VOLUNTARY WORK</div>
                        <div id="learningDevelopment" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">VII. LEARNING AND DEVELOPMENT INTERVENTIONS</div>
                        <div id="otherInfo" type="button" class="text-xl border border-gray-500 rounded-lg cursor-pointer p-2 bg-white">VIII. OTHER INFORMATION</div>
                    </div> -->
                </div>
            </div>
            <!-- PDS -->
            <div class="flex flex-col w-3/4">
                <ul class="w-full flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
                    <li *ngFor="let item of viewItems" class="me-2">
                        <button
                        (click)="switchComponent(item)" class="{{item==='General Information'?'bg-white':''}} inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">{{item}}</button>
                    </li>
                </ul>

                <div class="w-full overflow-y-auto">
                    <!-- Switch Component -->
                    <ng-container *ngIf="activeView === 'General Information'">
                        <div id="personalInfoInput" class="flex flex-col w-full p-4 gap-2">
                            <!-- Names-->
                            <form (ngSubmit)="submitForm()" #pdsForm="ngForm">
                                <div class="flex w-full h-auto border border-black gap-5">
                                    <!-- column 1 -->
                                    <div class="flex flex-col w-1/2 gap-2">
                                        <div class="flex flex-col w-full">
                                            <label for="surname">Surname</label>
                                            <input type="text" id="surname" name="surname" placeholder="Surname..." class="w-full h-full p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="surname" required>
                                        </div>
                                        <div class="flex flex-col w-full">
                                            <label for="firstname">Firstname</label>
                                            <input type="text" id="firstname" name="firstname" placeholder="Firstname..." class="w-full h-full p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="firstname" required>
                                        </div>
                                        <div class="flex flex-col w-full">
                                            <label for="middlename">Middlename</label>
                                            <input type="text" id="middlename" name="middlename" placeholder="Middlename..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="middlename">
                                        </div>
                                    </div>
                                    <!-- column 2 -->
                                    <div class="flex flex-col w-1/2">
                                        <label for="name_extension">Name Extension (if applicable)</label>
                                        <input type="text" id="name_extension" name="name_extension" placeholder="Name Extension..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="name_extension">
                                    </div>
                                </div>

                            </form>
                            <form (ngSubmit)="submitForm()" #pdsForm="ngForm">
                                <!-- Personal Info -->
                                <div class="flex flex-col border border-red-500 gap-5">
                                    <div class="flex w-full gap-5">
                                        <!-- column 1 -->
                                        <div class="flex flex-col w-1/2 gap-2">
                                            <!-- Date of Birth -->
                                            <div class="flex flex-col w-full">
                                                <label for="birthday-date-picker">Date of Birth</label>
                                                <div class="relative w-full">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                                        </svg>
                                                    </div>
                                                    <!-- Use native HTML5 date input -->
                                                    <input
                                                        id="birthday-date-picker"
                                                        name="date_of_birth"
                                                        type="date"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                                        [(ngModel)]="date_of_birth"
                                                        required
                                                    />
                                                </div>
                                            </div>
                                            <!-- Sex -->
                                            <div class="flex flex-col w-full gap-2">
                                                <div>Sex:</div>
                                                <div class="flex items-center ml-8">
                                                    <div class="flex items-center me-4">
                                                        <input id="male-checkbox" type="radio" name="sex" value="Male" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" [(ngModel)]="sex" required>
                                                        <label for="male-checkbox" class="ms-2 text-sm font-medium text-gray-900">Male</label>
                                                    </div>
                                                    <div class="flex items-center me-4">
                                                        <input id="female-checkbox" type="radio" name="sex" value="Female" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" [(ngModel)]="sex" required>
                                                        <label for="female-checkbox" class="ms-2 text-sm font-medium text-gray-900">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- column 2 -->
                                        <div class="flex flex-col w-1/2 gap-2">
                                            <!-- Place of Birth -->
                                            <div class="flex flex-col w-full">
                                                <label for="place_of_birth">Place of Birth</label>
                                                <input type="text" id="place_of_birth" name="place_of_birth" placeholder="Place of Birth..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="place_of_birth" required>
                                            </div>
                                            <!-- Civil Status -->
                                            <div class="flex flex-col w-full gap-2">
                                                <div>Civil Status:</div>
                                                <div class="relative">
                                                    <button id="dropdownButton" type="button" class="bg-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-between">
                                                        {{civil_status || 'Select Status'}}
                                                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                                        </svg>
                                                    </button>
                                                    <!-- Dropdown menu -->
                                                    <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 overflow-visible">
                                                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
                                                            <li *ngFor="let status of ['Single', 'Married', 'Widowed', 'Separated', 'Other/s']">
                                                                <a class="block px-4 py-2 hover:bg-gray-100" (click)="selectStatus(status)">{{status}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <form (ngSubmit)="submitForm()" #pdsForm="ngForm">
                                <!-- Personal Info Section -->
                                <div class="flex w-full gap-5">
                                    <div class="w-1/3">
                                        <label for="height">Height (m)</label>
                                        <input type="text" id="height_m" name="height" placeholder="Height (m)..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="height" required>
                                    </div>
                                    <div class="w-1/3">
                                        <label for="weight">Weight (kg)</label>
                                        <input type="text" id="weight_kg" name="weight" placeholder="Weight (kg)..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="weight" required>
                                    </div>
                                    <div class="w-1/3">
                                        <label for="blood_type">Blood Type</label>
                                        <input type="text" id="blood_type" name="blood_type" placeholder="Blood Type..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="blood_type">
                                    </div>
                                </div>
                                <div class="flex w-full gap-5">
                                    <div class="w-1/3">
                                        <label for="gsis_id_no">GSIS ID NO.</label>
                                        <input type="text" id="gsis_id_no" name="gsis_id_no" placeholder="GSIS ID NO..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="gsis_id_no">
                                    </div>
                                    <div class="w-1/3">
                                        <label for="pagibig_id_no">PAG-IBIG ID NO.</label>
                                        <input type="text" id="pagibig_id_no" name="pagibig_id_no" placeholder="PAG-IBIG ID..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="pagibig_id_no">
                                    </div>
                                    <div class="w-1/3">
                                        <label for="philhealth_id_no">PhilHealth ID NO.</label>
                                        <input type="text" id="philhealth_id_no" name="philhealth_id_no" placeholder="PhilHealth ID NO..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="philhealth_id_no">
                                    </div>
                                </div>
                                <div class="flex w-full gap-5">
                                    <div class="w-1/3">
                                        <label for="sss_no">SSS NO.</label>
                                        <input type="text" id="sss_no" name="sss_no" placeholder="SSS NO..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="sss_no">
                                    </div>
                                    <div class="w-1/3">
                                        <label for="tin_no">TIN NO.</label>
                                        <input type="text" id="tin_no" name="tin_no" placeholder="TIN NO..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="tin_no">
                                    </div>
                                    <div class="w-1/3">
                                        <label for="agency_employee_no">AGENCY EMPLOYEE NO.</label>
                                        <input type="text" id="agency_employee_no" name="agency_employee_no" placeholder="AGENCY EMPLOYEE NO..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300" [(ngModel)]="agency_employee_no">
                                    </div>
                                </div>


                            </form>

                            <form (ngSubmit)="submitForm()" #pdsForm="ngForm">
                                <!-- citizenship -->
                                <div class="flex w-full gap-5">
                                    <!-- column 1 -->
                                    <div class="flex flex-col w-1/3">
                                        <div>Citizenship</div>
                                        <div class="flex items-center justify-center h-full">
                                            If holder of dual citizenship, Please indicate the details
                                        </div>
                                    </div>
                                  <!-- column 2 -->
                                  <div class="flex w-2/3 border border-black">
                                    <!-- filipino -->
                                    <div class="flex flex-col">
                                      <div class="flex items-center justify-center me-4">
                                        <input
                                          id="filipino-checkbox"
                                          type="checkbox"
                                          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                                          [(ngModel)]="citizenship.filipino"
                                          name="filipino"
                                        />
                                        <label for="filipino-checkbox" class="ms-2 text-sm font-medium text-gray-900">Filipino</label>
                                      </div>
                                    </div>
                                    <!-- dual citizenship -->
                                    <div class="flex flex-col gap-3">
                                      <div class="flex items-center me-4">
                                        <input
                                          id="dualCitizenship-checkbox"
                                          type="checkbox"
                                          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                                          [(ngModel)]="citizenship.dualCitizenship"
                                          name="dualCitizenship"
                                        />
                                        <label for="dualCitizenship-checkbox" class="ms-2 text-sm font-medium text-gray-900">Dual Citizenship</label>
                                      </div>
                                      <!-- if dual citizenship -->
                                      <div class="flex items-center ml-8">
                                        <div class="flex items-center me-4">
                                          <input
                                            id="byBirth-checkbox"
                                            type="checkbox"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                                            [(ngModel)]="citizenship.byBirth"
                                            name="byBirth"
                                          />
                                          <label for="byBirth-checkbox" class="ms-2 text-sm font-medium text-gray-900">by Birth</label>
                                        </div>
                                        <div class="flex items-center me-4">
                                          <input
                                            id="byNaturalization-checkbox"
                                            type="checkbox"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                                            [(ngModel)]="citizenship.byNaturalization"
                                            name="byNaturalization"
                                          />
                                          <label for="byNaturalization-checkbox" class="ms-2 text-sm font-medium text-gray-900">by Naturalization</label>
                                        </div>
                                      </div>
                                      <div class="flex flex-col ml-16">
                                        <label for="country">Pls. Indicate Country</label>
                                        <input
                                          type="text"
                                          id="country"
                                          name="country"
                                          placeholder="Pls. Indicate Country.."
                                          class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300"
                                          [(ngModel)]="citizenship.country"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>


                            </form>



                            <form (ngSubmit)="submitForm()" #pdsForm="ngForm">
                                <!-- Residential Address -->
                                <div class="flex flex-col gap-2 border border-green-500">
                                    <div>Residential Address</div>
                                    <div class="flex w-full gap-5">
                                        <div class="flex flex-col w-1/2 gap-2 items-center justify-center">
                                            <input type="text" name="residential_address_house_block_lot_no" [(ngModel)]="residential_address_house_block_lot_no" placeholder="House/Block/Lot No..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>House/Block/Lot No.</div>
                                            <input type="text" name="residential_address_subdivision" [(ngModel)]="residential_address_subdivision" placeholder="Subdivision/Village..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Subdivision/Village</div>
                                            <input type="text" name="residential_address_city_municipality" [(ngModel)]="residential_address_city_municipality" placeholder="City/Municipality..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>City/Municipality</div>
                                        </div>
                                        <div class="flex flex-col w-1/2 gap-2 items-center justify-center">
                                            <input type="text" name="residential_address_street" [(ngModel)]="residential_address_street" placeholder="Street..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Street</div>
                                            <input type="text" name="residential_address_barangay" [(ngModel)]="residential_address_barangay" placeholder="Barangay..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Barangay</div>
                                            <input type="text" name="residential_address_province" [(ngModel)]="residential_address_province" placeholder="Province..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Province</div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center justify-center">
                                        <input type="text" name="residential_address_zip_code" [(ngModel)]="residential_address_zip_code" placeholder="Zip Code..." class="w-1/2 h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                        <div class="text-center">Zip Code</div>
                                    </div>
                                </div>

                                <!-- Permanent Address -->
                                <div class="flex flex-col gap-2">
                                    <div>Permanent Address</div>
                                    <div class="flex w-full gap-5">
                                        <div class="flex flex-col w-1/2 gap-2 items-center justify-center">
                                            <input type="text" name="permanent_address_house_block_lot_no" [(ngModel)]="permanent_address_house_block_lot_no" placeholder="House/Block/Lot No..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>House/Block/Lot No.</div>
                                            <input type="text" name="permanent_address_subdivision" [(ngModel)]="permanent_address_subdivision" placeholder="Subdivision/Village..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Subdivision/Village</div>
                                            <input type="text" name="permanent_address_city_municipality" [(ngModel)]="permanent_address_city_municipality" placeholder="City/Municipality..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>City/Municipality</div>
                                        </div>
                                        <div class="flex flex-col w-1/2 gap-2 items-center justify-center">
                                            <input type="text" name="permanent_address_street" [(ngModel)]="permanent_address_street" placeholder="Street..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Street</div>
                                            <input type="text" name="permanent_address_barangay" [(ngModel)]="permanent_address_barangay" placeholder="Barangay..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Barangay</div>
                                            <input type="text" name="permanent_address_province" [(ngModel)]="permanent_address_province" placeholder="Province..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                            <div>Province</div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center justify-center">
                                        <input type="text" name="permanent_address_zip_code" [(ngModel)]="permanent_address_zip_code" placeholder="Zip Code..." class="w-1/2 h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                        <div class="text-center">Zip Code</div>
                                    </div>
                                </div>

                                <!-- Contact Info -->
                                <div class="flex gap-5 w-full">
                                    <div class="flex flex-col gap-2 w-1/3">
                                        <div>Telephone No.</div>
                                        <input type="text" name="telephone_no" [(ngModel)]="telephone_no" placeholder="Telephone No...." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                    </div>
                                    <div class="flex flex-col gap-2 w-1/3">
                                        <div>Mobile No.</div>
                                        <input type="text" name="mobile_no" [(ngModel)]="mobile_no" placeholder="Mobile No...." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                    </div>
                                    <div class="flex flex-col gap-2 w-1/3">
                                        <div>E-mail Address (if any)</div>
                                        <input type="text" name="email_address" [(ngModel)]="email_address" placeholder="E-mail Address (if any)..." class="w-full h-10 p-2 pr-8 border rounded-lg border-gray-300">
                                    </div>


                                </div>


                              <!-- Submit Button -->
                            <div class="flex justify-end mt-4">
                                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg" [disabled]="!pdsForm.form.valid">Submit</button>
                            </div>
                            </form>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="activeView === 'Compensation Records'">
                        <app-compensation-records></app-compensation-records>
                    </ng-container>
                    <ng-container *ngIf="activeView === 'DTR'">
                        <app-leaves-attendance-records></app-leaves-attendance-records>
                    </ng-container>
                </div>
            </div>
        </div>

    <script src="../path/to/flowbite/dist/flowbite.js"></script>
</div>
