<div class="w-full h-full">
  <h1 class="absolute w-full bg-white pb-4">Educational Background</h1>
  <h1 class="w-full bg-white">Educational Background</h1>
  <form class="w-full flex flex-col gap-y-6">
    <!-- Elementary School Information Fieldset -->
    <fieldset *ngFor="let fieldset of fieldsets" class="border-t border-t-gray-300 p-4 min-w-full">
      <legend class="px-4 bg-white text-xl font-medium tracking-widest">{{ fieldset.label }}</legend>
      <div class="grid gap-6 justify-start w-full"
           [ngClass]="{'grid-cols-4' : fieldset.fields.length % 4 === 0 || fieldset.fields.length % 4 === 3,
                       'grid-cols-3' : fieldset.fields.length % 3 === 0 || fieldset.fields.length % 3 === 2,
                       'grid-cols-2' : fieldset.fields.length % 2 === 0 || fieldset.fields.length % 2 === 1}">
        <!-- Field Loop -->
        <div *ngFor="let field of fieldset.fields">
          <!-- Text Field -->
          <div *ngIf="field.type === 'text'">
            <label for="{{ field.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{ field.label }} </label>
            <input type="text" id="{{ field.label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
             focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="" required />
          </div>
          <!-- Date Field -->
          <div *ngIf="field.type === 'date'" class="flex flex-col">
            <label for="{{ field.label }}" class=" w-full block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
            <div id="{{ field.label }}" class="w-full">
              <p-calendar
                [(ngModel)]="date"
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="icondisplay"
                inputStyleClass="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                focus:ring-blue-500 focus:border-blue-500 block p-2.5 !important"
                panelStyleClass="w-min scale-75 absolute z-10"
                view="year"
                dateFormat="yy" />
            </div>
          </div>
          <!-- Boolean Field -->
          <div *ngIf="field.type === 'boolean'">
            <label for="sex" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
            <div class="flex justify-start gap-4">
              <div *ngFor="let option of field.options" class="flex items-center h-full">
                <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                <label for="default-radio-1" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ option }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
