<div class="w-full h-full">
  <h1 class="absolute w-full bg-white pb-4 z-50">Personal Information</h1>
  <h1 class="w-full bg-white">Personal Information</h1>
  <form class="flex flex-col gap-y-6">
    <!-- Fieldset Loop -->
    <fieldset *ngFor="let fieldset of fieldsets" class="border-t border-t-gray-300 p-4 min-w-full">
      <legend class="px-4 bg-white text-xl font-medium tracking-widest">{{ fieldset.label }}</legend>
      <div class="grid gap-6 justify-start w-full"
           [ngClass]="{'grid-cols-4' : fieldset.fields.length % 4 === 0 || fieldset.fields.length % 4 === 3 && fieldset.fields.length >= 4,
                       'grid-cols-3' : fieldset.fields.length % 3 === 0 || fieldset.fields.length % 3 === 2,
                       'grid-cols-2' : fieldset.fields.length % 2 === 0 || fieldset.fields.length % 2 === 1}">
        <!-- Field Loop -->
        <div *ngFor="let field of fieldset.fields">
          <!-- Text Field -->
          <div *ngIf="field.type === 'text'">
            <label for="{{ field.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{ field.label }} </label>
            <input type="text" id="{{ field.label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
             focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="" required />
          </div>
          <!-- Date Field -->
          <div *ngIf="field.type === 'date'" class="flex flex-col">
            <label for="{{ field.label }}" class=" w-full block mb-2 text-sm font-medium text-gray-900">{{ field.label }}</label>
            <input #datePickerInput datepicker id="default-datepicker" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-4 p-2.5"
            placeholder="Select date">
          </div>
          <!-- Boolean Field -->
          <div *ngIf="field.type === 'boolean'">
            <label for="{{ field.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
            <div class="flex justify-around">
              <div *ngFor="let option of field.options" class="flex items-center py-3">
                <input id="{{ option }}" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                <label for="{{ option }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ option }}</label>
              </div>
            </div>
          </div>
          <!-- Dropdown Field -->
          <div *ngIf="field.type === 'dropdown'" class="dropdown-container">
            <label for="{{ field.label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
            <div class="relative">
              <button id="{{ field.label + 'dropdownButton' }}" type="button" class="bg-gray-50 border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full ms-auto text-center inline-flex items-center justify-between"
              (click)="toggleDropdown(field)">
              {{ field.value || 'Select ' + field.label }}
              <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                </svg>
              </button>
              <!-- Dropdown menu -->
              <div *ngIf="activeDropdownLabel === field.label" id="{{ field.label + 'dropdownPanel' }}" class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-full overflow-visible absolute">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
                  <li *ngFor="let option of field.options">
                    <a class="block px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="selectOption(field, option)">{{ option }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Citizenship Field -->
          <div *ngIf="field.type === 'hybrid'" class="grid grid-cols-2 gap-2 dropdown-container">
            <label for="{{ field.label }}" class="col-span-2 block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
            <!-- Radio for Single Citizenship -->
            <div class="flex items-center col-span-1">
              <input
              checked
              id="{{ 'single ' + field.label }}"
              type="radio"
              value="{{'single'}}"
              name="{{ fieldset.label + field.label }}"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              (change)="disableDropdown('single '+ field.label, field.label + '-dualDropdown')"
              >
              <label for="{{ 'single ' + field.label }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Single</label>
            </div>
            <!-- Radio for Dual Citizenship -->
            <div class="flex items-center col-span-1">
              <input
                id="{{ 'dual ' + field.label }}"
                type="radio"
                value="{{'dual'}}"
                name="{{ fieldset.label + field.label }}"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
                (change)="disableDropdown('single '+ field.label, field.label + '-dualDropdown')"
              >
              <label for="{{ 'dual ' + field.label }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Dual</label>
            </div>
            <!-- Dropdown for Single Citizenship -->
            <div class="relative col-span-1">
              <button id="{{ field.label + '-singleDropdown' }}" type="button" class="whitespace-nowrap bg-gray-50 border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full ms-auto text-center inline-flex items-center justify-between"
              (click)="toggleDropdown(field, field.label+'-single')">
              {{ field.value || 'Select'}}
              <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
              </svg>
              </button>
              <!-- Dropdown menu -->
              <div *ngIf="activeDropdownLabel === field.label+'-single'" id="{{ field.label + 'dropdownPanel' }}" class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-full overflow-visible absolute">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
                  <li *ngFor="let option of field.options">
                    <a class="block px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="selectOption(field, option, field.label+'-single')">{{ option }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Dropdown for Dual Citizenship -->
            <div class="relative col-span-1">
              <button id="{{ field.label + '-dualDropdown' }}" type="button" class="whitespace-nowrap overflow-clip overflow-ellipsis bg-gray-50 border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full ms-auto text-center inline-flex items-center justify-between"
              (click)="toggleDropdown(field, field.label+'-dual')">
              {{ field.value2 || 'Select' }}
              <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                </svg>
              </button>
              <!-- Dropdown menu -->
              <div *ngIf="activeDropdownLabel === field.label+'-dual'" id="{{ field.label + 'dropdownPanel' }}" class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-full overflow-visible absolute">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton">
                  <li *ngFor="let option of field.options">
                    <a class="block px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="selectOption(field, option, field.label+'-dual')">{{ option }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="flex items-center col-span-1">
              <input
                id="{{ 'birth ' + field.label }}"
                type="radio"
                value="{{'birth'}}"
                name="{{ fieldset.label + field.label }}-method"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              >
              <label for="{{ 'birth ' + field.label }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">By Birth</label>
            </div>
            <div class="flex items-center col-span-1">
              <input
                id="{{ 'naturalization ' + field.label }}"
                type="radio"
                value="{{'birth'}}"
                name="{{ fieldset.label + field.label }}-method"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              >
              <label for="{{ 'naturalization ' + field.label }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">By Naturalization</label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
