<div class="flex">
  <div class="flex-grow">
    <div class="min-h-screen">
      <main class="p-6">
        <div class="mb-6 flex justify-between items-center">
          <div>
            <p class="max-md:text-xl text-2xl font-bold">Approval Workflows</p>
            <p class="max-md:text-lg">Manage approvals and reviews</p>
          </div>
        </div>
        <!-- Path 1 -->
        <div class="box-content p-4 border-4">
          <h1 class="text-2xl font-bold mb-4">Edit Workflow</h1>
          <div class="mb-8">
            <h2 class="text-lg font-semibold mb-4">Path 1</h2>
            <div class="flex items-center space-x-2">
              <select class="border rounded-md p-1 text-sm w-40">
                <option>-- Select --</option>
                <option>Specific Individual</option>
                <option>Job Title</option>
              </select>
              <select class="border rounded-md p-1 text-sm w-40">
                <option>-- Select --</option>
                <option>John Doo</option>
                <option>John Doe</option>
              </select>
            </div>
            <button
              type="button"
              (click)="redirectToPath2()"
              class="bg-blue-500 text-white rounded-md py-1 px-2 text-sm w-40 mt-2"
            >
              Add New Path
            </button>
          </div>
        </div>
        <!-- Path 2 -->
        <div class="box-content p-4 border-4" *ngIf="showPath2">
          <h2 class="text-lg font-semibold mb-4">Path 2</h2>
          <table class="border-collapse border border-gray-300 w-full">
            <thead>
              <tr class="bg-gray-100">
                <th class="border border-gray-300 px-4 py-2">Wrestler</th>
                <th class="border border-gray-300 px-4 py-2">Signature Move(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border border-gray-300 px-4 py-2">"Stone Cold" Steve Austin</td>
                <td class="border border-gray-300 px-4 py-2">Stone Cold Stunner, Lou Thesz Press</td>
              </tr>
              <tr>
                <td class="border border-gray-300 px-4 py-2">Bret "The Hitman" Hart</td>
                <td class="border border-gray-300 px-4 py-2">The Sharpshooter</td>
              </tr>
              <tr>
                <td class="border border-gray-300 px-4 py-2">Razor Ramon</td>
                <td class="border border-gray-300 px-4 py-2">Razor's Edge, Fallaway Slam</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
</div>
