<main class="flex flex-col h-full w-full gap-4">
  <!-- TOP SECTION -->
  <section class="bg-[rgba(83,_79,_235,_1)] w-full rounded-xl px-4 py-6 text-white">
    <span class="block font-semibold text-2xl">Access Rights</span>
    <span class="block font-extralight">HRIS > User Management > Access Rights</span>
  </section>
  <!-- UTILITY SECTION -->
  <section class="flex gap-4 w-full rounded-lg">
    <!-- SEARCH BAR -->
    <div class="relative w-[20%]">
      <input type="text" [(ngModel)]="searchRoleTerm" placeholder="Search Roles..." class="w-full h-full py-2 px-4 border rounded-xl border-gray-300" />
      <span class="material-icons absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400">search</span>
    </div>
    <!-- FILTER BUTTON -->
    <button class="flex justify-between items-center gap-2 bg-white border py-2 px-4 rounded-xl hover:bg-gray-100">
      Filter
      <span class="material-icons">filter_list</span>
    </button>
    <!-- DIVIDER -->
    <div class="flex-1"></div>
    <!-- SORTING DROPDOWN -->
    <div class="relative w-max">
      <button id="dropdown-button" class="inline-flex bg-white hover:bg-gray-100 rounded-xl border px-4 py-2 whitespace-nowrap items-center justify-between gap-4 w-36"
      (click)="toggleDropdown()">
        <span class="ms-2">{{ currentSorting() || 'Sort' }} </span>
        <span class="material-icons transition-all ease-linear" [ngClass]="{ 'rotate-180' : isDropdownOpen }">arrow_drop_down</span>
      </button>
      <div id="dropdown-menu" class="grid grid-cols-1 gap-1 absolute right-0 mt-2 w-auto bg-white border rounded-xl shadow-lg transition-all ease-in-out p-1 overflow-hidden"
        [ngClass]="isDropdownOpen ? 'grid' : 'hidden'">
        <button value="none" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full rounded-lg whitespace-nowrap" (click)="onSortChange($event); toggleDropdown()">Default</button>
        <button value="asc" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full rounded-lg whitespace-nowrap" (click)="onSortChange($event); toggleDropdown()">Ascending (A-Z)</button>
        <button value="desc" class="block px-4 py-2 text-gray-800 hover:bg-gray-100 w-full rounded-lg whitespace-nowrap" (click)="onSortChange($event); toggleDropdown()">Descending (Z-A)</button>
      </div>
    </div>
    <!-- MANAGE BUTTON -->
    <button class="flex justify-between items-center gap-2 text-white rounded-xl px-4 py-2 whitespace-nowrap text-center transition duration-300"
      [ngClass]="{'bg-blue-500 hover:bg-blue-600': !isManageMode, 'bg-green-500 hover:bg-green-600': isManageMode}" (click)="toggleManageMode()">
      {{ isManageMode ? 'Save Changes' : 'Manage Roles' }}
      <span class="material-icons">{{ isManageMode ? 'save' : 'manage_accounts' }}</span>
    </button>
  </section>
  <!-- ROLE MANAGEMENT SECTION -->
  <section class="flex flex-1 gap-4 w-full text-white max-h-full h-full min-h-0">
    <!-- ADD/MANAGE ROLES AREA -->
    <div class="basis-2/5 h-full max-h-full border rounded-xl bg-white p-4 flex flex-col gap-4">
      <div class="flex justify-between items-center px-6 h-12">
        <span class="text-xl font-semibold text-black align-middle">Roles</span>
      </div>
      <div class="flex flex-col gap-0 w-full h-full min-h-0 overflow-y-auto snap-y border-t border-gray-200 pl-2">
      <ng-container *ngIf="searchroletab.length > 0; else noMatch">
        <button class="group flex flex-1 gap-4 items-center pr-4 hover:bg-gray-100 min-h-12 max-h-12 text-gray-600 text-sm font-normal hover:rounded-md w-full overflow-clip border-b"
          *ngFor="let role of searchroletab" [ngClass]="{'bg-gray-100': selectedRole.role_id === role.role_id}" (click)="onRoleClick(role); selectRoleForEditing(role)">
          <div class="bg-transparent group-hover:bg-blue-600 min-w-1 h-full"></div>
          <div class="flex-1 overflow-clip">
        <ng-container *ngIf="editingRoleId === role.role_id; else displayRoleName">
          <input [(ngModel)]="role.role_name" class="border rounded outline-none p-1" />
        </ng-container>
        <ng-template #displayRoleName>
          <span class="inline-flex h-full w-full ps-4 py-2">
            {{ role.role_name }}
          </span>
        </ng-template>
          </div>
          <div *ngIf="isManageMode" class="text-center">
        <ng-container *ngIf="editingRoleId === role.role_id; else editIcon">
          <button (click)="updateRoleName(role)" class="text-green-500 hover:text-green-700 p-0">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </ng-container>
        <ng-template #editIcon>
          <button (click)="startEdit(role)" class="text-blue-500 hover:text-blue-700 p-0">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </ng-template>
          </div>
          <div *ngIf="isManageMode" class="text-center">
        <ng-container *ngIf="editingRoleId === role.role_id; else deleteIcon">
          <button (click)="cancelEdit()" class="text-gray-500 hover:text-gray-700 p-0">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </ng-container>
        <ng-template #deleteIcon>
          <button (click)="deleteRole(role)" class="text-red-500 hover:text-red-700 pr-1 p-0">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </ng-template>
          </div>
        </button>
      </ng-container>
      <ng-template #noMatch>
        <div class="h-9 text-gray-600 text-sm font-light text-center p-4">No matching roles found</div>
      </ng-template>
      </div>
    </div>
    <!-- ACCESS RIGHTS CONFIGURATION AREA -->
    <div class="flex-1 flex flex-col h-full min-h-0 border-t bg-transparent pt-4 gap-4">
      <div class="flex justify-start items-center px-5 h-12 w-full">
        <span class="text-xl font-semibold inline-block align-middle pr-4 text-black border-r-2 border-black">
          Access Rights Configuration
        </span>
        <span class="text-xl font-light inline-block align-middle pl-4 text-black">
          {{ assignedRole.role_name }}
        </span>
        <div class="flex-1">
          <button class="flex justify-between items-center gap-2 text-white bg-blue-600 hover:bg-blue-800 transition-colors justify-self-end px-4 py-2 rounded-full" *ngIf="isManageMode">
            <span>Edit</span>
            <span class="material-icons text-xs">edit</span>
          </button>
        </div>
      </div>
      <div class="grid grid-cols-[80%_repeat(3,_1fr)] gap-y-2 h-full max-h-full min-h-0 overflow-y-auto p-4 mx-4 rounded-xl border bg-white">
        <div class="col-span-1 text-center bg-white sticky inset-0 pb-2 inline-block"></div>
        <div class="col-span-1 text-center font-medium text-black bg-white sticky inset-0 pb-2 inline-block">None</div>
        <div class="col-span-1 text-center font-medium text-black bg-white sticky inset-0 pb-2 inline-block">View</div>
        <div class="col-span-1 text-center font-medium text-black bg-white sticky inset-0 pb-2 inline-block">Edit</div>

        <ng-container *ngFor="let section of accessRights">
          <div class="col-span-4 font-semibold text-black">{{ section.title }}</div>
          <ng-container *ngFor="let item of section.items">
            <div class="col-span-1 ms-2 text-black">{{ item.name }}</div>
            <ng-container *ngFor="let right of rightsOptions">
              <div class="col-span-1 text-center ms-2 inline-block">
                <label class="cursor-pointer flex items-center justify-center w-4 h-4 rounded-full border border-gray-400 transition-all"
                        [ngClass]="{'bg-blue-600 text-white': selectedRole[item.key] === right}">
                  <input type="radio" [name]="item.key" [value]="right" [disabled]="!isManageMode"
                         [(ngModel)]="selectedRole[item.key]" (change)="onAccessRightChange(item.key, $event)"
                         class="hidden">
                  <span class="material-icons text-xs" *ngIf="selectedRole[item.key] === right">check</span>
                </label>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>
</main>
