@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


.alert {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }

  .gradient-background {
    width: 100%;
    height: 100%;
    position: relative;
    background: radial-gradient(circle at 25% 25%, rgb(90, 95, 255), transparent 70%),
                radial-gradient(circle at 25% 75%, rgb(0, 30, 255), transparent 60%),
                radial-gradient(circle at 75% 25%, rgb(134, 134, 255), transparent 70%);
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
  }
  
  .cursor-gradient {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .focus:bg-custom-gradient {
    background: linear-gradient(45deg, #e3f2fd, #bbdefb);
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  
  