<div class="flex h-dvh select-none text-white" id="sidebar">
  <aside class="bg-[#534feb] shadow-xl fixed top-0 left-0 h-full flex flex-col items-center z-50 transition-all ease-in-out"
  [ngClass]="isExpanded ? 'w-64' : 'w-16' ">
    <!-- Sidebar header -->
    <div class="relative p-4 flex justify-center items-center h-16 w-full whitespace-nowrap" [ngClass]="isExpanded ? 'w-full' : 'w-0' ">
      <span class="flex justify-center items-center text-xl whitespace-nowrap overflow-hidden"
            [ngClass]="isExpanded ? 'w-full' : 'w-0'">
         <span class="font-extralight">QUANBY&nbsp;</span><b>HRIS</b>
      </span>
    </div>

    <nav class="flex flex-col flex-1 w-full px-1 overflow-y-auto overflow-x-hidden">
      <ul class="w-full" *ngIf="sidebarItems.length > 0; else noItemsTemplate">
        <li *ngFor="let item of sidebarItems" class="my-1">
          <!-- Main menu item -->
          <button [title]="item.name"
            (click)="item.subItems ? toggleSubMenu(item) : navigateTo(item.route)"
            class="flex items-center py-3 px-4 hover:bg-blue-50 hover:text-black cursor-pointer rounded-xl transition-all ease-linear"
            [ngClass]="isExpanded ? 'justify-start w-full gap-4' : 'w-full cursor-auto'"
            [routerLinkActive]="['bg-blue-50', 'text-black', 'font-bold', 'rounded-r-0', 'mr-0']"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="material-icons text-xl align-middle text-center ms-[0.1rem]">
              {{getIconForRoute(item.route)}}
            </span>
            <span class="inline-block whitespace-nowrap overflow-hidden" [ngClass]="{'w-0': !isExpanded, 'w-auto': isExpanded}">
              {{item.name}}
            </span>
            <!-- Arrow icon for items with subitems -->
            <span *ngIf="item.subItems && isExpanded" class="material-icons ml-auto text-sm justify-self-end transition-all ease-linear"
                  [ngClass]="{'rotate-180': item.isExpanded}">
              expand_more
            </span>
          </button>

          <!-- First level sub-menu items -->
            <ul [ngClass]="{'h-0 overflow-clip': !(item.subItems && item.isExpanded && isExpanded), 'h-[calc(auto,_size)]': item.subItems && item.isExpanded && isExpanded}"
              class="flex flex-col gap-1 ml-4 border-l border-gray-200 w-auto transition-all ease-linear">
            <li *ngFor="let subItem of item.subItems" class="w-auto">
              <!-- Sub-menu item -->
              <button
              (click)="subItem.subItems ? toggleSubSubMenu(subItem) : navigateTo(subItem.route)"
              class="flex items-center w-full py-2 px-4 text-sm rounded-lg hover:bg-blue-50 hover:text-black transition-all ease-linear">
              <span class="material-icons text-sm mr-2">{{subItem.icon || 'subdirectory_arrow_right'}}</span>
              <span class="whitespace-nowrap overflow-hidden">{{subItem.name}}</span>
              <!-- Arrow icon for items with sub-subitems -->
              <span *ngIf="subItem.subItems" class="material-icons ml-auto text-xs"
                  [ngClass]="{'rotate-180': subItem.isExpanded}">
                expand_more
              </span>
              </button>

              <!-- Second level sub-menu items -->
              <ul *ngIf="subItem.subItems && subItem.isExpanded"
                  class="ml-6 border-l border-gray-200">
                <li *ngFor="let subSubItem of subItem.subItems">
                  <a (click)="navigateTo(subSubItem.route)"
                     class="flex items-center py-2 px-4 text-xs hover:bg-blue-50 cursor-pointer">
                    <span class="material-icons text-xs mr-2">{{subSubItem.icon || 'radio_button_unchecked'}}</span>
                    {{subSubItem.name}}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <ng-template #noItemsTemplate>
        <p class="text-center py-4">No items available</p>
      </ng-template>
    </nav>

    <!-- Bottom Items -->
     <div class="flex flex-col items-center w-full">
      <button class="flex justify-start items-center gap-4 p-4 w-full transition-all ease-linear hover:bg-blue-50 hover:text-black border-t font-extralight"
              *ngFor="let item of bottomSidebarItems" [ngClass]="{'hover:text-red-600': item.name === 'Sign Out'}" [title]="item.name !== 'Collapse' ? item.name : ''"
              (click)="item.name == 'Collapse' ? toggleSidebar() : null">
        <span class="material-icons text-xl ms-1 transition-all ease-linear" [ngClass]="{'rotate-180' : isExpanded && item.name === 'Collapse'}">{{item.icon}}</span>
        <span class="inline-block whitespace-nowrap overflow-hidden" [ngClass]="isExpanded ? 'w-auto' : 'w-0 hidden' ">{{item.name}}</span>
      </button>
     </div>
  </aside>
</div>
