<div class="flex h-screen">
  <div class="bg-white shadow-xl  fixed top-0 left-0 h-full overflow-y-auto flex flex-col z-50">
    <div class="relative p-4 bg-blue-600 text-white flex items-center justify-center h-16">
      <span class="material-icons text-2xl transition-transform"
            [ngClass]="{'scale-125': !isExpanded, 'mr-2': isExpanded}">business</span>
      <span class="font-bold text-lg transition-all ease-in-out whitespace-nowrap overflow-hidden"
            [ngClass]="{'opacity-0 max-w-0': !isExpanded, 'opacity-100 max-w-full': isExpanded}">
        HRIS Dashboard
      </span>
    </div>

    <nav class="flex-grow">
      <ul class="py-2" *ngIf="sidebarItems.length > 0; else noItemsTemplate">
        <li *ngFor="let item of sidebarItems">
          <!-- Main menu item -->
          <div 
            (click)="item.subItems ? toggleSubMenu(item) : navigateTo(item.route)"
            class="flex items-center py-3 px-4 text-gray-600 hover:bg-blue-50 hover:text-blue-600 transition-all ease-in-out cursor-pointer"
            [ngClass]="{'justify-start': !isExpanded}">
            <span class="material-icons text-xl transition-transform ease-in-out"
                  [ngClass]="{'mr-3': isExpanded, 'scale-100': !isExpanded}">
              {{getIconForRoute(item.route)}}
            </span>
            <span class="transition-all ease-in-out whitespace-nowrap overflow-hidden"
                  [ngClass]="{'opacity-0 max-w-0': !isExpanded, 'opacity-100 max-w-full': isExpanded}">
              {{item.name}}
            </span>
            <!-- Arrow icon for items with subitems -->
            <span *ngIf="item.subItems && isExpanded" class="material-icons ml-auto text-sm transition-transform">
              expand_more
            </span>
          </div>
        </li>
      </ul>
      <ng-template #noItemsTemplate>
        <li class="text-gray-500 px-4 py-2">No items available</li>
      </ng-template>
    </nav>
  </div>

  <button (click)="toggleSidebar()" class="fixed top-3 left-10 bg-[var(--color-secondary)] rounded-full p-1 shadow-md focus:outline-none hover:brightness-90 z-[9999] transition-all duration-300">
    
    <span class="material-icons">
      {{ isExpanded ? 'chevron_left' : 'chevron_right' }}
    </span>
  </button>
</div>