<div class="flex">
  <app-sidebar-navigation></app-sidebar-navigation>
  <div class="flex flex-col w-full px-6 pt-6">
    <div class="flex flex-col justify-between">
      <div class="flex flex-col">
        <p class="text-3xl font-bold text-neutral-900">Parameters</p>
        <p class="pb-5 text-slate-500 text-sm">Configure System Parameters</p>
      </div>
    </div>
    
    <!-- Search input and actions -->
    <div class="mb-6 bg-white rounded-xl shadow-lg pt-6 pb-2">
      <div class="flex items-center space-x-4 mx-4">
        <div class="relative w-full md:w-[20%] md:mr-auto">
          <input type="text" [(ngModel)]="searchTerm" (input)="applySearch()" placeholder="Search Parameters..." class="w-full h-full p-2 pr-8 border rounded-full border-gray-300">
          <i class="fa fa-search absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 pl-5"></i>
        </div>
        <button *ngIf="isManageMode" (click)="openDeletePopup()" 
        class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition duration-300 ml-4">
        Delete
        </button>
        <button (click)="toggleManageMode()" 
                class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-lg transition duration-300">
          Manage
        </button>
        <button (click)="openPopup()" 
                class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">
          + New Parameter
        </button>
        <button class="text-black p-1 bg-gray-100 rounded-md" 
                (click)="prevPage()" 
                [disabled]="currentPage === 1">
          <
        </button>
        <span class="text-gray-600 text-center">{{ currentPage }} of {{ totalPages }}</span>
        <button class="text-black p-1 bg-gray-100 rounded-md" 
                (click)="nextPage()" 
                [disabled]="currentPage === totalPages">
          >
        </button>
        </div>
    
        <!-- Table displaying parameters -->
        <div class="overflow-x-auto bg-white pt-4">
          <div class="overflow-x-auto">
            <div class="overflow-y-auto max-h-[400px] custom-scrollbar">
              <table class="table-fixed w-full text-left border-collapse" *ngIf="paginatedParameters && paginatedParameters.length > 0">
                <thead class="bg-gray-100">
                  <tr>
                    <th *ngIf="isManageMode" class="px-6 py-4 text-sm font-thin text-gray-600 tracking-wider min-w-[100px] text-center">Select</th>
                    <th class="px-8 py-4 text-sm font-thin text-gray-600 tracking-wider min-w-[200px]">PARAMETER NAME</th>
                    <th class="px-8 py-4 text-sm font-thin text-gray-600 tracking-wider min-w-[200px]">PARAMETER TYPE</th>
                    <th class="px-8 py-4 text-sm font-thin text-gray-600 tracking-wider min-w-[200px]">DATE</th>
                    <th class="px-8 py-4 text-sm font-thin text-gray-600 tracking-wider min-w-[200px]">SCHEDULE AM</th>
                    <th class="px-8 py-4 text-sm font-thin text-gray-600 tracking-wider min-w-[100px]">SCHEDULE PM</th>
                    <th *ngIf="isManageMode" class="px-6 py-4 text-sm font-thin text-gray-600 tracking-wider">ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr *ngFor="let param of paginatedParameters">
                    <td *ngIf="isManageMode" class="px-6 py-4 whitespace-nowrap text-center">
                      <input type="checkbox" [(ngModel)]="param.selected" class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out">
                    </td>
                    <td class="px-8 py-4 whitespace-nowrap font-medium text-gray-600">{{ param.parameter_name || 'N/A' }}</td>
                    <td class="px-8 py-4 whitespace-nowrap font-medium text-gray-500">{{ param.parameter_type || 'N/A' }}</td>
                    <td class="px-8 py-4 whitespace-nowrap font-medium text-gray-500">{{ param.parameter_date ? (param.parameter_date | date:'mediumDate') : '-' }}</td>
                    <td class="px-8 py-4 whitespace-nowrap font-medium text-gray-500">{{ param.parameter_time || '-' }}</td>
                    <td class="px-8 py-4 whitespace-nowrap font-medium text-gray-500">{{ param.parameter_time2 || '-' }}</td>
                    <td *ngIf="isManageMode" class="px-6 py-4 whitespace-nowrap">
                      <button (click)="editParameter(param)" class="text-blue-600 hover:text-blue-800">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 013.536 3.536L7.5 18.5H3v-4.5L16.732 3.732z"></path>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!paginatedParameters || paginatedParameters.length === 0" class="p-4 text-center text-gray-500">
              No parameters found.
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  
    <!-- Popup for creating/editing parameters -->
    <div *ngIf="showPopup && selectedParameter" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
      <div class="bg-white rounded-lg p-8 max-w-md w-full">
        <div class="flex flex-col bg-white">
          <div class="flex flex-col pb-10 w-full bg-white">
            <div class="flex flex-col max-w-full text-base text-neutral-900">
              <div class="self-start text-3xl font-bold">{{ isEdit ? 'Edit Parameter' : 'Create Parameter' }}</div>
              <div class="self-start mt-3 text-sm leading-5 text-slate-500">{{ isEdit ? 'Edit the parameter details' : 'Create a new parameter for use in your events' }}</div>
              <div class="mt-9 font-medium leading-[150%]">Name</div>
              <input [(ngModel)]="selectedParameter.parameter_name" type="text" placeholder="Parameter name" 
                    class="w-full px-4 pt-4 pb-2 mt-2 bg-white rounded-xl border border-solid border-zinc-200 leading-[150%] text-slate-500">
              <div class="mt-8 font-medium leading-[150%]">Type</div>
              <div class="relative">
                <select [(ngModel)]="selectedParameter.parameter_type" 
                        class="w-full justify-center py-2 mt-2 bg-white rounded-xl border border-solid border-zinc-200 leading-[150%]">
                  <option value="" disabled>Select type</option>
                  <option *ngFor="let type of types" [value]="type">{{ type }}</option>
                </select>
              </div>
              <!-- Date input for Holiday type -->
              <div *ngIf="selectedParameter.parameter_type === 'Holiday'" class="mt-7">
                <div class="font-medium leading-[150%]">Date</div>
                <input [(ngModel)]="selectedParameter.parameter_date" type="date" 
                      class="w-full px-4 pt-4 pb-2 mt-2 bg-white rounded-xl border border-solid border-zinc-200 leading-[150%] text-slate-500">
              </div>
              <!-- Time inputs for Schedule type -->
              <div *ngIf="selectedParameter.parameter_type === 'Schedule'" class="mt-7">
                <div class="font-medium leading-[150%] mb-2">Schedule</div>
                <div class="flex space-x-4">
                  <div class="w-1/2">
                    <label for="startTime" class="block text-sm font-medium text-gray-700 mb-1">Start Time</label>
                    <input [(ngModel)]="selectedParameter.parameter_time" type="time" id="startTime" 
                          class="w-full px-4 py-2 bg-white rounded-xl border border-solid border-zinc-200 leading-[150%] text-slate-500" 
                          min="00:00" max="23:59">
                  </div>
                  <div class="w-1/2">
                    <label for="endTime" class="block text-sm font-medium text-gray-700 mb-1">Finish Time</label>
                    <input [(ngModel)]="selectedParameter.parameter_time2" type="time" id="endTime" 
                          class="w-full px-4 py-2 bg-white rounded-xl border border-solid border-zinc-200 leading-[150%] text-slate-500" 
                          min="00:00" max="23:59">
                  </div>
                </div>
              </div>
            </div>
            <div class="flex justify-end mt-6">
              <button (click)="closePopup()" class="px-4 py-2 mr-2 text-sm font-bold text-gray-700 bg-gray-200 rounded-xl">Cancel</button>
              <button (click)="saveOrUpdateParameter()" class="px-4 py-2 text-sm font-bold text-white bg-blue-500 rounded-xl">
                {{ isEdit ? 'Update' : 'Save' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- pop-up  when delete -->
    <div *ngIf="showDeletePopup" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
      <div class="w-[20%] shadow-xl rounded bg-white flex flex-col">
        <div class="flex flex-col h-full p-4 md:p-6 justify-between">
          <div class="flex flex-col justify-center items-center mb-2">
            <p class="text-xl md:text-2xl font-black text-center">Delete Assignee</p>
            <p class="text-gray-600 text-center">This action cannot be undone. By deleting the assignee, all associated information will be permanently lost.</p>
          </div>
          <div class="flex gap-2 justify-center w-full">
            <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 flex-grow" (click)="confirmDelete()">Delete</button>
            <button class="border border-gray-500 text-gray-500 px-4 py-2 rounded hover:bg-gray-100 flex-grow" (click)="closeDeletePopup()">Cancel</button>
          </div>
        </div>
      </div>
    </div> 
</div>