<div class="flex">
  <app-sidebar-navigation></app-sidebar-navigation>
  <div class="flex-grow">
    <div class="min-h-screen">
      <main class="p-6">
        <div class="mb-3">
          <p class="mb-2 text-3xl font-bold text-neutral-900">Audit Trail<br></p>
          <p class="mb-2 pb-5 text-slate-500 text-sm">View system configuration logs and other changes</p>
        </div>

        <div class="overflow-x-auto shadow-lg rounded-xl bg-white">
          <div class="flex flex-col md:flex-row md:justify-between items-center justify-center p-4">
            <div class="relative w-[20%]">
              <input
                type="text"
                placeholder="Search Log..."
                class="w-full h-full p-2 pr-8 border rounded-full border-gray-300"
              />
              <i class="fa fa-search absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 pl-5"></i>
            </div>
            <div class="flex items-center space-x-4">
              <button class="text-black p-1 bg-gray-100 rounded-md" (click)="previousPage()"><</button>
              <span class="text-gray-600 text-center">{{ currentPage }} of {{ getTotalPages() }}</span>
              <button class="text-black p-1 bg-gray-100 rounded-md" (click)="nextPage()">></button>
            </div>
          </div>

          <div class="overflow-x-hidden overflow-y-auto max-h-[31rem] custom-scrollbar">
            <table class="w-full text-left table-fixed">
              <thead class="bg-gray-100">
                <tr>
                  <th class="bg-gray-100 w-1/12 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">DATE</th>
                  <th class="bg-gray-100 w-1/12 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">TIME</th>
                  <th class="bg-gray-100 w-1/12 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">USER ID</th>
                  <th class="bg-gray-100 w-1/6 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">AFFECTED PAGE</th>
                  <th class="bg-gray-100 w-1/12 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">ACTION</th>
                  <th class="bg-gray-100 w-1/4 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">OLD PARAMETER</th>
                  <th class="bg-gray-100 w-1/4 sticky top-0 px-4 py-3  z-10 font-medium text-gray-500">NEW PARAMETER</th>
                </tr>
              </thead>
              <tbody class="text-slate-500">
                <tr *ngFor="let log of paginatedLogs" class="border-t border-gray-200">
                  <td class="px-4 py-3 whitespace-nowrap truncate">{{ log.date }}</td>
                  <td class="px-4 py-3 whitespace-nowrap truncate">{{ log.time }}</td>
                  <td class="px-4 py-3 whitespace-nowrap truncate">{{ log.user_id }}</td>
                  <td class="px-4 py-3 whitespace-nowrap truncate">{{ log.affected_page }}</td>
                  <td class="px-4 py-3 whitespace-nowrap truncate">{{ log.action }}</td>
                  <td class="px-4 py-3 truncate"><pre class="parameter-pre">{{ log.old_parameter }}</pre></td>
                  <td class="px-4 py-3 truncate"><pre class="parameter-pre">{{ log.new_parameter }}</pre></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
