<div class="h-screen flex flex-col">
    <!-- Header Section -->
    <header class="bg-white h-28 flex flex-col justify-between px-8">
        <h1 class="mb-2 text-3xl font-bold text-neutral-900">Systems Configuration</h1>
        <h2 class="mb-2 text-3xl font-bold text-neutral-900">Configure Parameters and Metrics</h2>  
    </header>

    <!-- Main Content Area -->
     <div class="flex-1 bg-white flex flex-col">
        <div class="rounded-xl shadow-lg w-full max-w-4x1 h-full">
            <div class="bg-white p-5 h-3/5">
                <section class="bg-white p-4 flex-grow h-4/5 mt-20">
                    <!-- Users active tab -->
                    <div class="overflow-x-hidden overflow-y-auto max-auto rounded-md">
                        <table class="table-fixed w-full">
                            <thead>
                                <tr class="text-blue-700 leading-normal sticky z-10">
                                    <th class="z-1 top-0 sticky py-3 px-4 w-2/12 text-left font-medium text-gray-500">PROFILE</th>
                                    <th class="z-10 top-0 sticky py-3 px-6 text-left font-medium text-gray-500">NAME</th>
                                    <th class="z-10 top-0 sticky py-3 px-6 text-left font-medium text-gray-500">EMAIL</th> 
                                    <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">PASSWORD</th>
                                    <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">ROLE</th>
                                    <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">STATUS</th>
                                </tr>
                            </thead>                
                            <tbody class="text-gray-500 text-sm font-light">
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">JOHN DOE</td>
                                    <td class="py-3 px-6 text-left truncate">sampleemail.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                    </div> 

                    <!-- Pagination -->
                    <div class="flex justify-between items-center mt-4">
                        <button class="text-gray-400 px-3 py-1 hover:bg-gray-200 rounded" disabled>
                            &larr;
                        </button>
                        <span class="text-gray-400">Page 1 | Page N</span>
                        <button class="text-gray-400 px-3 py-1 hover:bg-gray-200 rounded">
                            &rarr;
                        </button>
                    </div>
                    
                </section>
            </div>]
        </div>
    </div>
</div>
  