<div class="h-screen flex flex-col">
    <!-- Header Section -->
    <header class="bg-white h-28 flex flex-col justify-between px-8">
        <h1 class="mb-2 text-3xl font-bold text-neutral-900">Systems Configuration</h1>
        <h2 class="mb-2 text-3xl font-bold text-neutral-900">Configure Parameters and Metrics</h2>  
    </header>

    <!-- Main Content Area -->
     <div class="flex-1 bg-white flex flex-col">
        <div class="rounded-xl shadow-lg w-full max-w-4x1 h-full">
            <div class="bg-white p-5 h-full">
                <div class="flex flex-col md:flex-row md:justify-between items-center justify-center p-4"> <!-- Upper Padding -->
                    <div class="relative w-[20%]">
                        <input type="text" placeholder="Search Employees..." class="w-full h-full p-2 pr-8 border rounded-full border-gray-300"/>
                            <i class="fa fa-search absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 pl-5"></i>
                      </div>
                      <div class="flex items-center space-x-4">
                        <!--Filter Feature-->
                        <div class="relative">
                          <select class="border px-4 py-2 rounded appearance-none pr-10">
                            <option value="none">Default</option>
                            <option value="asc">Sort A-Z</option>
                            <option value="desc">Sort Z-A</option>
                          </select>
                          <i class="fa fa-caret-down absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
                        </div>
                        <!-- New Employee button, disabled when isEditing is true -->
                        <button class="text-white bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300
                              font-medium rounded text-sm px-4 py-2 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                              type="button">+ New Config
                        </button>
                    </div>
                </div>
                <section class="bg-white p-4 h-4/5">
                    <div class="h-[500px] overflow-x-hidden overflow-y-auto max-auto"> <!-- Table Container -->
                        <table class="table-fixed w-full">
                            <thead>
                                <tr class="text-blue-700 leading-normal sticky z-10">
                                    <th class="z-1 top-0 sticky py-3 px-4 w-2/12 text-left font-medium text-gray-500">PROFILE</th>
                                    <th class="z-10 top-0 sticky py-3 px-6 text-left font-medium text-gray-500">NAME</th>
                                    <th class="z-10 top-0 sticky py-3 px-6 text-left font-medium text-gray-500">EMAIL</th> 
                                    <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">PASSWORD</th>
                                    <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">ROLE</th>
                                    <th class="z-10 top-0 sticky py-3 px-2 w-1/12 text-left font-medium text-gray-500">STATUS</th>
                                </tr>
                            </thead>                
                            <tbody class="text-gray-500 text-sm font-light">
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">JOHN DOE</td>
                                    <td class="py-3 px-6 text-left truncate">sampleemail.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200 hover:bg-gray-50">
                                    <td class="py-3 px-4 w-2/12 text-left whitespace-nowrap">
                                        <div class="flex items-center"><img alt="Profile Picture" class="w-10 h-10 rounded-full border-2 border-gray-200"></div>
                                    </td>              
                                    <td class="py-3 px-6 text-left truncate">YU DI PHO TAH</td>
                                    <td class="py-3 px-6 text-left truncate">parotmo.com</td>
                                    <td class="py-3 px-1 w-1/12 text-left">
                                        <span class="bg-gray-200 text-gray-600 py-1 px-3 rounded-full text-xs">Hidden</span>
                                    </td>
                                    <td class="py-3 px-2 w-1/12 text-left">Manager<br>Full Time</td>
                                    <td class="py-3 px-2 w-1/12 text-left">
                                        <span class="py-1 px-3 rounded-full text-xs">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                    <!-- Pagination -->
                <div class="flex justify-between items-center mt-4">
                    <button class="text-gray-400 px-3 py-1 hover:bg-gray-200 rounded" disabled>
                        &larr;
                    </button>
                    <span class="text-gray-400">Page 1 | Page N</span>
                    <button class="text-gray-400 px-3 py-1 hover:bg-gray-200 rounded">
                        &rarr;
                    </button>
                </div> 
                </section>
            </div>
        </div>
    </div>
</div>
  