<div class="flex flex-col h-screen">

    <div class="flex p-10">
      <div class="flex flex-col flex-grow gap-4 w-[80%]">
        <div class="animated-gradient-bg shadow-lg w-full h-56 rounded-lg p-5 flex items-center justify-between relative">
          <div class="flex-1">
            <p class="text-white text-3xl">Welcome, <span class="font-bold">Lean Jedfrey</span>!</p>
            <p *ngIf="!hasTimedIn" class="text-lg text-white w-[55%] break-words mt-2">We’re excited to see you here today. Before you dive into your tasks, we’d like to remind you to <span class="font-bold">log your time</span> if you haven’t done so already.</p>
            <p *ngIf="hasTimedIn" class="text-lg text-white w-[50%] break-words mt-2">You’ve successfully clocked in and are all set for a productive workday. We’re excited to have you with us today!</p>
            <button *ngIf="!hasTimedIn" (click)="timeIn()" class="bg-white px-6 py-2 rounded text-blue-500 text-lg font-bold mt-4">Time In</button>
            <button *ngIf="hasTimedIn" (click)="timeOut()" class="bg-white px-6 py-2 rounded text-red-500 text-lg font-bold mt-4">Time Out</button>
          </div>
          <img *ngIf="!hasTimedIn" src="https://i.ibb.co/dm89vhZ/6469146.png" alt="Descriptive Alt Text" class="w-52 h-52 object-cover absolute bottom-0 right-28" />
          <img *ngIf="hasTimedIn" src="https://i.ibb.co/f41vqWh/6488733.png" alt="Descriptive Alt Text" class="w-52 h-52 object-cover absolute bottom-0 right-28" />
        </div>
        
        <!-- Dashboard Metric Nodes -->
        <div class="flex w-full justify-between gap-4">
          <!-- Total Employees -->
          <div class="flex-1 flex flex-col justify-center shadow-lg bg-white h-32 rounded-lg relative">
            <div class="flex flex-col p-5 justify-center">
              <p class="font-bold text-xl text-gray-500">Total Employees</p>
              <p class="font-bold text-2xl text-black">{{ totalEmployees }}</p>
            </div>
          </div> 

          <!-- Active Users -->
          <div class="flex-1 flex flex-col justify-center shadow-lg bg-white h-32 rounded-lg relative">
            <div class="flex flex-col p-5 justify-center">
              <p class="font-bold text-xl text-gray-500">Active Users</p>
              <p class="font-bold text-2xl text-black">3</p> <!-- PLACEHOLDER DATA -->
            </div>
          </div>
          <!-- Locked Accounts -->
          <div class="flex-1 shadow-lg bg-white h-32 rounded-lg relative">
            <div class="flex flex-col justify-center p-5 h-full">
              <p class="font-bold text-xl text-gray-500">Locked Accounts</p>
              <p class="font-bold text-2xl text-black">30</p> <!-- PLACEHOLDER DATA -->
            </div>
          </div>
          <!-- Total Departments -->
          <div class="flex-1 shadow-lg bg-white h-32 rounded-lg relative">
            <div class="flex flex-col justify-center p-5 h-full">
              <p class="font-bold text-xl text-gray-500">Total Departments</p>
              <p class="font-bold text-2xl text-black">28</p>  <!-- PLACEHOLDER DATA -->
            </div>
          </div>
          
        </div>
        <!-- Requests Table -->
        <div class="flex w-full justify-between gap-4">
          <div class="bg-white shadow-lg h-80 w-[100%] rounded-lg p-5 flex items-center justify-between relative"> 
                  
          </div>
        </div>
      </div>
    
      <!-- Right pink container -->
      <div class="shadow-lg bg-white w-[25%] h-[100%] ml-4 rounded-lg p-4 border border-gray-200">
        <!-- Navigation -->
         <div class="bg-blue-50 p-4 rounded">
        <div class="flex items-center justify-between mb-4">
          <button (click)="changeMonth(-1)" class="text-black-500 font-bold hover:text-blue-700 transition duration-150 ease-in-out">
            &lt;
          </button>
          <span class="text-lg font-semibold">{{ currentMonth + 1 }}/{{ currentYear }}</span>
          <button (click)="changeMonth(1)" class="text-black-500 font-bold hover:text-blue-700 transition duration-150 ease-in-out">
            &gt;
          </button>
        </div>
      
        <!-- Days of the week -->
        <div class="grid grid-cols-7 text-center text-sm font-medium mb-2">
          <div class="p-2">Sun</div>
          <div class="p-2">Mon</div>
          <div class="p-2">Tue</div>
          <div class="p-2">Wed</div>
          <div class="p-2">Thu</div>
          <div class="p-2">Fri</div>
          <div class="p-2">Sat</div>
        </div>
      
        <!-- Calendar days -->
          <div class="grid grid-cols-7 gap-1 text-center text-sm">
            <!-- Days of previous month -->
            <div *ngFor="let day of daysInPrevMonth" class="p-2 opacity-50"></div>
              <!-- Days of current month -->
              <div *ngFor="let day of daysInMonth" [ngClass]="{'bg-blue-200': isToday(day, currentMonth, currentYear)}" class="p-2 rounded-lg hover:bg-blue-100 transition duration-150 ease-in-out"> {{ day }}</div>
              <!-- Days of next month -->
              <div *ngFor="let day of daysInNextMonth" class="p-2 opacity-50"></div>
            </div>
          </div>
          <p class="text-xl font-bold pt-4">Monthly Schedules</p>
          <div class="h-44 overflow-y-auto borde rounded-md custom-scrollbar">
            <div *ngFor="let holiday of holidays" class="flex items-center justify-between">
              <p class="text-lg">{{ holiday.parameter_name }}</p>
              <p class="text-sm text-gray-400 ml-2">{{ holiday.parameter_date | date:'MM/dd/yy' }}</p>
            </div>
            <p *ngIf="holidays.length === 0" class="text-gray-500">No schedules this month</p>
          </div>
      </div>
    </div>
    
    
    
    
    
    
    
    
    