/* You can add global styles to this file, and also import other style files */
/* ./src/styles.css */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  /* font-family: 'SF Pro Display', sans-serif; */
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  height: auto;
}

p {
  margin: 0 !important;
}

html {
  height: 100dvh;
  max-height: 100dvh;
  width: 100dvw;
  max-width: 100dvw;
  overflow-y: hidden;
}

body {
    background-color: #f7f8ff; /* Light gray background color */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', sans-serif;
    overflow: hidden;
    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .overflow-y-auto::-webkit-scrollbar,
  .overflow-x-auto::-webkit-scrollbar,
  .overflow-auto::-webkit-scrollbar,
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  .overflow-y-auto,
  .overflow-x-auto,
  .overflow-auto,
  .custom-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: 5px;  /* Firefox */
  }

  .overflow-y-auto::-webkit-scrollbar-thumb,
  .overflow-x-auto::-webkit-scrollbar-thumb,
  .overflow-auto::-webkit-scrollbar-thumb,
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(183, 183, 183);
    border-radius: 50px;
  }

  .overflow-y-auto::-webkit-scrollbar-track,
  .overflow-x-auto::-webkit-scrollbar-track,
  .overflow-auto::-webkit-scrollbar-track,
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
